@charset "utf-8";

.element {

    padding: 10px;
    
    .element-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .infos {
        margin: 5px 0;
    }

    .comment {
        display: inline-block;   
        vertical-align: top;    
    }
 
    .link-url {
        font-weight: normal;
        color: #777;
    }

    a {
        cursor: pointer;
    }
}


.composite {
    
    border: 1px solid #ccc;

    .link-description {
        text-decoration: underline;
    }
    
    a {
        cursor: pointer;
    }
}
