<div class="element document">

   <div class="titre-element">
        <a href="{{resource.url}}" target="_blank">
            {{ element.title || resource.name }} 
        </a> <span class="resource-type">[{{ documentType }}]</span> 
    </div>
    <div class="titre-fichier">
        ({{ resource.name }})
    </div>

    <div data-ng-if="element.description" ng-bind-html="element.description" class="comment"></div>

    <div class="infos">
        <span ngClass="{ 'picto-important' : ( element.attributes.docImportant === 'true') }" title="Important"></span>
        <span ngClass="{ 'picto-hec' : ( element.attributes.docDiffusion === 'hec' ), 'picto-public' : ( element.attributes.docDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span ngClass="{ 'picto-hidden' : ( element.attributes.docHidden === 'true') }" title="Visible"></span>     
    </div> 

</div>