<div class="element-form"> 
    <!-- Title -->
    <label for="male" class="label-text-title">{{ 'FORM_TITRE' | translate }} <span class="mandatory"></span></label>
    <input type="text" name="title" data-ng-model="element.title" class="input-text-title" required />

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description" required></textarea>
</div>