<div class="element-form"> 
	<!-- Title -->
	<div class="row field">
		<div class="col-md-2">
			<label for="clusterTitle" class="label-text-title">{{ 'FORM_TITLE' | translate }} <span class="mandatory"></span></label>
		</div>

		<div class="col-md-10">
			<input type="text" id="clusterTitle" name="title" data-ng-model="element.title" />
		</div>
	</div>

	<!-- Description --> 
	<div class="field">
		<div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
		<textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>
	</div>
</div>
