
<form data-ng-submit="ok()"> 

    <div class="modal-header">
        <h3 class="modal-title">{{ 'MODAL_TITLE_DELETE_SYLLABUS' | translate}}</h3> 
        <div>{{ 'MODAL_DESCRIPTION_DELETE_SYLLABUS' | translate}} ?</div>       
    </div>

    <div class="modal-body"> 
        
        <div>
            <div data-ng-if="(syllabusToDelete.length > 0)">{{ 'DELETE_SYLLABUS_OK' | translate }} : 
                <ul>
                    <li data-ng-repeat="syllabus in syllabusToDelete">
                    {{syllabus.title}}
                    </li>
                <ul>
            </div>

            <div data-ng-if="(syllabusNotToDelete.length > 0)">{{ 'DELETE_SYLLABUS_KO' | translate }} : 
                <ul>
                    <li data-ng-repeat="syllabus in syllabusNotToDelete">
                    {{syllabus.title}}
                    </li>
                <ul>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <input data-ng-if="(syllabusToDelete.length > 0)" class="btn btn-primary" type="submit" value="OK"/> 
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{ 'BUTTON_CANCEL' | translate}}</button>
    </div> 
    
</form>
