<div class="dropdown" data-ng-class="{ 'open' : showMenuAjouter}">
<!--     <button id="bouton-ajout" class="btn btn-default dropdown-toggle" type="button" data-ng-click="toggleMenu();">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span class="ajouter-libelle">Ajouter</span>
        <span class="caret"></span> 
    </button>
    <ul class="dropdown-menu menu-ajout" role="menu" data-ng-show="showMenuAjouter">
        <li role="presentation" data-ng-repeat="type in types">
            <a role="menuitem" tabindex="-1" href="#" data-ng-click="addElement(type)">{{ type.libelle | translate }}</a>
        </li>
    </ul> -->

    

    <div class="btn-group" uib-dropdown uib-keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle data-ng-disabled="isDisabled">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="ajouter-libelle">Ajouter</span>
            <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" data-ng-repeat="type in types">
                <a href="#" data-ng-click="addElement(type)">{{ type.libelle | translate }}</a>
            </li>
        </ul>
    </div>
</div>