<div class="dropdown" data-ng-class="{ 'open' : showMenuAjouter}">

    <div class="btn-group" uib-dropdown uib-keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle data-ng-disabled="(isDisabled || syllabusService.working)">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="ajouter-libelle">Ajouter</span>
            <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu liste-menu-ajout" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" data-ng-repeat="type in types">
                <a href="#" data-ng-click="addElement(type)">{{ type.libelle | translate }}</a>
            </li>
        </ul>
    </div>
</div>