<!-- modal confirm delete -->
<script type="text/ng-template" id="deleteModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title">Suppression de l'élément</h3>
    </div>
    <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cet élément? {{element.syllabusElement_id}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
    </div>
    
</script>