<!-- modal confirm delete -->
<script type="text/ng-template" id="deleteModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title">{{'MODALE_DELETE_CONFIRM_TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        {{'MODALE_DELETE_CONFIRM_MESSAGE' | translate}} "{{element.attributes.title}}"? 
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
    </div>

</script>