<script type="text/ng-template" id="nodes_renderer_content.html">

    <!-- Page et Feuille -->
    <div class="tree-node tree-node-content">

        <div data-ng-switch="item.type">

            <!-- élément de type composite --> 
            <div data-ng-switch-when="composite" data-regroupement-element="item"></div>
            <!-- élément de type lecture -->
            <div data-ng-switch-when="lecture" data-cours-element="item"></div>
            <!-- élément de type tutorial -->
            <div data-ng-switch-when="tutorial" data-cours-element="item"></div>
            <!-- élément de type evaluation -->
            <div data-ng-switch-when="evaluation" data-evaluation-element="item"></div>
            <!-- élément de type rubric -->
            <div data-ng-switch-when="rubric" data-rubric-element="item"></div>

            <!-- élément de type texte -->
            <div data-ng-switch-when="text" data-text-element="item"></div>
            <!-- <div data-dyn-attr="data-text-element" data-element="item"></div> -->
            <!-- élément de type document -->
            <div data-ng-switch-when="document" data-document-element="item"></div>
            <!-- élément de type référence bibliographique -->
            <div data-ng-switch-when="citation" data-biblio-element="item"></div>
            <!-- élément de type hyperlien -->
            <div data-ng-switch-when="hyperlink" data-hyperlink-element="item"></div>
            <!-- élément de type image -->
            <div data-ng-switch-when="image" data-image-element="item"></div>
            <!-- élément de type video -->
            <div data-ng-switch-when="video" data-video-element="item"></div>
			<!-- élément de type contactInfo -->
            <div data-ng-switch-when="contact_info" data-contact-element="item"></div>



            <!-- élément de type lien vers outil -->
            <div data-ng-switch-when="tool" data-tool-element="item"></div>

            <div ng-switch-default>
                <!-- Affichage attributs -->
                <div class="attributs" data-ng-switch="item.type">
                    <div data-ng-switch-when="text">
                    </div>
                    <ul ng-switch-default>
                       <li data-ng-repeat="(key, value) in item.attributes">
                           {{key}} : {{value}}
                       </li>
                    </ul>
                </div>

            </div> 

        </div>

    </div>


    <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-class="{hidden: collapsed, 'liste-element': true}" data-ng-if="item.type === 'composite' || item.type === 'rubric'" >
        <li data-ng-repeat="item in item.elements" ui-tree-node data-ng-include="'nodes_renderer_content.html'" >
        </li>
    </ol>
 
</script>
 
<section class="content-panel-section" data-ng-controller='ContentPanelCtrl'>


    <!-- Menu ajout -->
    <div id="menu-ajout" data-add-element-menu="treeService.getSelectedItem()"  class="container-menu-ajout"></div>
    
    <!-- Titre -->
    <div class='titre' > 
        {{treeService.getSelectedItem().title}}
        <span data-ng-if="treeService.getSelectedItem().type == 'evaluation'"> ({{treeService.getSelectedItem().attributes.weight}}%)</span>
    </div> 
    <div data-ng-if="treeService.getSelectedItem().type == 'evaluation'"> <div data-evaluationattr-element="treeService.getSelectedItem()"></div></div>



<!--     <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-ng-click="toggleMenu();">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Ajouter
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" data-ng-show="showMenuAjouter">
            <li role="presentation" data-ng-repeat="type in types">
                <a role="menuitem" tabindex="-1" href="#" data-ng-click="add.addElement(type)">{{type}}</a>
            </li>
        </ul>
    </div> -->


    <div ui-tree data-drag-enabled="true">
    <!-- <div ui-tree="treeOptions" data-drag-enabled="true"> -->
      <ol ui-tree-nodes="" ng-model="treeService.getSelectedItem().elements" class="liste-element">
        <li ng-repeat="item in treeService.getSelectedItem().elements" ui-tree-node ng-include="'nodes_renderer_content.html'"></li>          
      </ol>

    </div> 

    
</section>
