<script type="text/ng-template" id="nodes_renderer_content.html">
    <!-- Page -->
    <!-- <div ui-tree-handle class="tree-node tree-node-content" data-ng-class="{'item-panel-composite': item.type ==='composite'}" data-ng-if="item.displayPage"> -->
        <div class="titre-element element-page" data-ng-class="{'item-panel-composite': item.type ==='composite'}" data-ng-if="item.displayPage">
            <span class="picto-edit-inline" data-ng-click="edit(element);"></span> 
            {{item.title}}
            <span data-ng-if="item.type == 'evaluation'"> ({{item.attributes.weight}}%)</span>
            <span data-buttons-element="element" noedit="true" class="buttons-elements"></span>
        </div>
    <!-- </div>-->
    <!-- Feuille -->
    <div class="tree-node tree-node-content" data-ng-if="!item.displayPage">

        <div data-ng-switch="item.type">

            <!-- élément de type texte -->
            <div data-ng-switch-when="text" data-text-element="item"></div>
            <!-- <div data-dyn-attr="data-text-element" data-element="item"></div> -->
            <!-- élément de type document -->
            <div data-ng-switch-when="document" data-document-element="item"></div>
            <!-- élément de type hyperlien -->
            <div data-ng-switch-when="hyperlink" data-hyperlink-element="item"></div>
            <!-- élément de type image -->
            <div data-ng-switch-when="image" data-image-element="item"></div>
              <!-- élément de type video -->
            <div data-ng-switch-when="video" data-video-element="item"></div>
			<!-- élément de type contactInfo -->
            <div data-ng-switch-when="contact_info" data-contact-element="item"></div>
            <!-- élément de type lien vers outil -->
            <div data-ng-switch-when="tool" data-tool-element="item"></div>

            <div ng-switch-default>
                <!-- Affichage attributs -->
                <div class="attributs" data-ng-switch="item.type">
                    <div data-ng-switch-when="text">
                    </div>
                    <ul ng-switch-default>
                       <li data-ng-repeat="(key, value) in item.attributes">
                           {{key}} : {{value}}
                       </li>
                    </ul>
                </div>

            </div> 

        </div>

    </div>


    <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-class="{hidden: collapsed, 'liste-element': true}" data-ng-if="item.type === 'composite'" >
        <li data-ng-repeat="item in item.elements" ui-tree-node data-ng-include="'nodes_renderer_content.html'" >
        </li>
    </ol>
 
</script>
 
<section class="content-panel-section" data-ng-controller='ContentPanelCtrl'>

    <div class='titre' data-ng-model="infos.selectedItem"> 
        {{infos.selectedItem.title}}
        <span data-ng-if="infos.selectedItem.type == 'evaluation'"> ({{infos.selectedItem.attributes.weight}}%)</span>
    </div> 
    
    <!-- <div ui-tree data-drag-enabled="true"> -->
    <div ui-tree="treeOptions" data-drag-enabled="true">
      <ol ui-tree-nodes="" ng-model="infos.selectedItem.elements" class="liste-element">
        <li ng-repeat="item in infos.selectedItem.elements" ui-tree-node ng-include="'nodes_renderer_content.html'"></li>          
      </ol>

    </div> 

    
</section>
