<div class="element document">

    <div data-buttons-element="element" class="buttons-elements"></div>

    <div class="titre-element">
        <a href="{{element.attributes.docResourceUrl}}" target="_blank">
            {{ element.attributes.title }} 
        </a>
        <span class="resource-type">
            [{{ element.attributes.docResourceType }}]
        </span> 
    </div>
    <div class="titre-fichier">
        ({{ element.attributes.docResourceName }})
    </div>

    <div data-ng-bind-html="element.attributes.docComment" class="comment"></div>

    <div class="infos">
        <span data-ng-class="{ 'picto-important' : ( element.attributes.docImportant === 'true') }" title="Important"></span>
        <span data-ng-class="{ 'picto-hec' : ( element.attributes.docDiffusion === 'hec' ), 'picto-public' : ( element.attributes.docDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span data-ng-class="{ 'picto-hidden' : ( element.attributes.docHidden === 'true') }" title="Visible"></span>     
    </div>

</div>