<script type="text/ng-template" id="nodes_renderer.html">

  <a class="btn btn-success btn-xs" data-ng-if="item.children && item.children.length > 0 && item.children[0].displayPage" data-nodrag data-ng-click="toggleTree(this)"><span
    class="glyphicon"
    data-ng-class="{
      'glyphicon-chevron-right': collapsed,
      'glyphicon-chevron-down': !collapsed
    }"></span></a>
  <span data-ng-click="select(item)" class="select-item" data-ng-class="{'item-selected': item.selected}" >{{item.pageTitle}}</span>

  
  <span ui-tree-handle class="tree-node tree-node-content picto-move" data-ng-if="item.parent"></span>
   <!-- Pas de drag and drop pour les éléments de premier niveau -->
  <span ui-tree-handle class="tree-node tree-node-content" data-ng-if="!item.parent"></span>

  <ol ui-tree-nodes="" data-ng-model="item.children" data-ng-class="{hidden: collapsed}" data-ng-if="item.children && item.children.length > 0 && item.children[0].displayPage">
    <li data-ng-repeat="item in item.children" ui-tree-node data-ng-include="'nodes_renderer.html'">
    </li> 
  </ol> 

</script>


<section data-ng-controller='LeftMenuCtrl'> 

    <div class='titre'>
      {{ 'MENU_LABEL' | translate }} 
    </div>

    <div ui-tree="treeOptions" data-drag-enabled="true">

      <ol ui-tree-nodes="" ng-model="syllabus.syllabusElements">
        <li ng-repeat="item in syllabus.syllabusElements" ui-tree-node ng-include="'nodes_renderer.html'"></li>          
      </ol>

    </div>

    
</section>