<div class="element video">
        
    <div data-buttons-element="element" class="buttons-elements"></div>

    <div class="titre-element">
        <!-- <a href="{{element.attributes.videoUrl}}" target="_blank"> -->
            {{ element.attributes.title }} 
        <!-- </a> -->
    </div>
    <div class="video">
        <iframe width="300" height="220" data-ng-src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div data-ng-bind-html="element.attributes.videoComment" class="comment"></div>

    <div class="infos">
        <span data-ng-class="{ 'picto-important' : ( element.attributes.videoImportant === 'true') }" title="Important"></span>
        <span data-ng-class="{ 'picto-hec' : ( element.attributes.videoDiffusion === 'hec' ), 'picto-public' : ( element.attributes.videoDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span data-ng-class="{ 'picto-hidden' : ( element.attributes.videoHidden === 'true') }" title="Visible"></span>     
    </div> 

</div>