.toolbar button {
	margin-right: 5px;
}

.toolbar-left {
	float: left;
}

.toolbar-right {
	float: right;
}

.navigation-drawer {
	button {
		margin: 0;
	}
	
	padding-left: 15px;
}

.toolbar-wrapper::after {
	content: '';
	display: block;
	clear: both;
}

.toolbar-wrapper {
	border-bottom: 1px solid $color-navigation;
	margin-bottom: 5px;
}

.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}

.pdf-dropdown {
	float: right;

	button {
		padding-top: 0;
	}

	.list-menu-pdf {
		margin-left: -70px;
	}
}

.view-dropdown {
	float: right;

	button {

	}
}

.list-menu-pdf {
	li.selected {
		.glyphicon {
			visibility: visible;
		}
	}

	.glyphicon {
		visibility: hidden;
		margin-right: 4px;
	}

	.list-menu-view {
		margin-left: -70px;
	}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}
