<div ng-controller="SyllabusCtrl">
	<div id="syllabus">
		<div class="row">
			<h1 class="course-title col-xs-12 mobile-toggle">
				{{ ::userService.getSiteId() }}<span data-ng-if="userService.getCourseTitle() !== null"> - {{ ::userService.getCourseTitle() }}</span> 

				<span class="student-view-title" data-ng-if="syllabusService.viewMode === 'student'">({{'VERSION_STUDENTS' | translate}})</span>
				<span class="student-view-title" data-ng-if="syllabusService.viewMode === 'public'">({{'VERSION_PUBLIC' | translate}})</span>
			</h1>
		</div>

		<div class="row" ng-if="syllabusLoaded">
			<div class="toolbar col-xs-12">
				<div class="save-info">
					<div class="autosaving" ng-if="autosaving">
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{ 'AUTOSAVING' | translate }}
					</div>

					<div class="autosaved" ng-if="!autosaving && saveMode === 'autosave'" ng-class="{'invisible' : lastAutosaveTime.length === 0}">
						{{'LAST_AUTOSAVE' | translate }} {{lastAutosaveTime}}
					</div>

					<div class="autosaved" ng-if="!autosaving && saveMode === 'save'" ng-class="{'invisible' : lastSaveTime.length === 0}">
						{{ 'LAST_SAVE' | translate }} {{lastSaveTime}}
					</div>
				</div>

				<div class="toolbar-wrapper">
					<div class="toolbar-left">
						<!-- Management button -->
						<button  data-ng-show = "userService.isAllowedView('management')" ng-click="goToManagement()" ng-disabled="syllabusService.isWorking()">
							{{ 'BUTTON_MANAGEMENT' | translate }}
						</button>

						<!-- Groups list-->
						<div  data-ng-show = "userService.isAllowedView('syllabusWrite')" class="btn-group button-list" uib-dropdown keyboard-nav>
							<button id="btn-group-list" class="list" ng-disabled="syllabusService.isWorking()" uib-dropdown-toggle>
								<span class="add-label">{{syllabusService.syllabus.title}}</span> <span class="caret"></span> 
							</button>

							<ul uib-dropdown-menu class="list-menu-add-left" role="menu" aria-labelledby="btn-group-list">
								<li role="menuitem" ng-repeat="syllabus in syllabusService.syllabusList">
									<a href="" ng-click="selectSyllabus(syllabus)">{{::syllabus.title }} <span ng-if="syllabus.instructors.length > 0"> - {{::syllabus.instructors}}</span></a> 
								</li> 
							</ul>
						</div>

						<!-- Progress -->
						<div class="check-progress-bar" ng-if="!userService.isAllowedView('syllabusWrite') && syllabusService.countCheckableElements() > 0">
							<check-progress-bar></check-progress-bar>
						</div>
					</div>

					<div class="toolbar-right">
						<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus) && !syllabusLockService.lockError && tenjinService.viewState.stateName === 'syllabus-edit'" class="action" ng-click="save()" ng-disabled="(!syllabusService.dirty || syllabusService.working)">
							<span class="glyphicon" ng-class="{'glyphicon-floppy-disk': !saving, 'glyphicon-refresh glyphicon-refresh-animate': saving}"></span> {{ 'BUTTON_SAVE' | translate }}
						</button>

						<button data-ng-show="userService.isAllowed('syllabusPublish', syllabusService.syllabus) && userService.isAllowed('syllabusWrite', syllabusService.syllabus) && !syllabusLockService.lockError  && tenjinService.viewState.stateName === 'syllabus-edit'" ng-disabled="syllabusService.isDirty() || syllabusService.working || (!syllabusService.syllabus.common && (!syllabusService.syllabus.sections || syllabusService.syllabus.sections.length === 0))" class="action" ng-click="startPublish()">
							<span class="glyphicon glyphicon-save"></span> {{ 'BUTTON_PUBLISH' | translate }}
						</button>

						<div uib-dropdown class="pdf-dropdown">
							<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus)" type="button" class="btn action-list" uib-dropdown-toggle ng-click="popPdf()" ng-disabled="syllabusService.isWorking()">
								<img src="img/icon-pdf.png"></img>
								<span class="">PDF</span>
								<span class="caret"></span>
							</button>

							<ul data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus)" uib-dropdown-menu class="list-menu-pdf" role="menu" aria-labelledby="simple-btn-keyboard-nav">
								<li role="menuitem">
									<a href="javascript:void(0);" ng-click="pdf(false)">{{ 'VERSION_IN_EDITION' | translate }}</a>
								</li>

								<li role="menuitem">
									<a ng-class="{disabled: syllabusService.syllabus.publishedDate === null}" href="javascript:void(0);" ng-click="pdf(true)">{{ 'VERSION_STUDENTS' | translate }}</a>
								</li>

								<li role="menuitem">
									<a ng-class="{disabled: syllabusService.syllabus.publishedDate === null}" href="javascript:void(0);" ng-click="pdfPublic()">{{ 'VERSION_PUBLIC' | translate }}</a>
								</li>
							</ul>
						</div>

						<button data-ng-click="goToCheckAnnotationsSummary()" data-ng-show="userService.isAllowed('syllabusRead', syllabusService.syllabus) && tenjinService.viewState.stateName === 'syllabus-published' && !showCheckAnnotationsSummary">
							<img src="img/icon-check.png"></img>
							<span>{{ 'TASKS' | translate }}</span>
						</button>

						<button data-ng-click="goToSyllabus()" data-ng-show="userService.isAllowed('syllabusRead', syllabusService.syllabus) && tenjinService.viewState.stateName === 'syllabus-published' && showCheckAnnotationsSummary">
							<img src="img/icon-check.png"></img>
							<span>{{ 'SYLLABUS' | translate }}</span>
						</button>

						<button data-ng-click="pdf(true)" data-ng-show="userService.isAllowed('syllabusRead', syllabusService.syllabus) && tenjinService.viewState.stateName === 'syllabus-published' && !showCheckAnnotationsSummary">
							<img src="img/icon-pdf.png"></img>
							<span class="">PDF</span>
						</button>

						<div uib-dropdown class="view-dropdown">
							<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus)" type="button" class="btn action-list" uib-dropdown-toggle ng-click="popPdf()" ng-disabled="syllabusService.isWorking()">
								<span class="glyphicon glyphicon-eye-open"></span> {{ 'VIEW' | translate }}
								<span class="caret"></span>
							</button>

							<ul data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus)" uib-dropdown-menu class="list-menu-pdf" role="menu" aria-labelledby="simple-btn-keyboard-nav">
								<li role="menuitem" data-ng-class="{'selected': syllabusService.viewMode === 'edit'}">
									<a href="javascript:void(0);" ng-click="showEditionView()"><span class="glyphicon glyphicon-ok"></span>{{ 'VERSION_IN_EDITION' | translate }}</a>
								</li>

								<li role="menuitem" data-ng-class="{'selected': syllabusService.viewMode === 'student'}">
									<a href="javascript:void(0);" ng-click="showStudentView()"><span class="glyphicon glyphicon-ok"></span> {{ 'VERSION_STUDENTS' | translate }}</a>
								</li>

								<li role="menuitem" data-ng-class="{'selected': syllabusService.viewMode === 'public'}">
									<a href="javascript:void(0);" ng-click="showPublicView()"><span class="glyphicon glyphicon-ok"></span> {{ 'VERSION_PUBLIC' | translate }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mobile-navigation-host" ng-if="syllabusLoaded">
			<div class="col-xs-12">
				<mobile-navigation></mobile-navigation>
			</div>
		</div>

		<div class="row col-equal-height" ng-if="syllabusLoaded && !showCheckAnnotationsSummary">
			<div class="navigation-host col-md-3 pull-left" data-ng-if="showNavigation">
				<navigation></navigation>
			</div>

			<div class="navigation-drawer" data-ng-if="!showNavigation">
				<button data-ng-click="toggleNavigation()"><span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>

			<div ng-include="'contentPanel/contentPanel.html'" data-mode="mode" data-ng-class="['col-xs-12', 'pull-left', {'col-md-9': showNavigation, 'all-width': !showNavigation}]" id="contentPanel"></div>
		</div>

		<div class="row col-equal-height" ng-if="syllabusLoaded && showCheckAnnotationsSummary">
			<check-annotations-summary></check-annotations-summary>
		</div>
	</div>
</div>
