<div ng-controller="SyllabusCtrl">
	<div id="syllabus">
		<div class="row">
			<h1 class="course-title col-xs-12">
				{{::syllabusService.syllabus.courseTitle}}
			</h1>
		</div>

		<div class="row" ng-if="syllabusLoaded">
			<div class="toolbar col-xs-12">
				<div class="toolbar-wrapper">
					<div class="toolbar-left">
						<!-- Management button -->
						<button  data-ng-show = "userService.isAllowedView('management')" ng-click="goToManagement()" ng-disabled="syllabusService.isWorking()">
							{{ 'BUTTON_MANAGEMENT' | translate }}
						</button>

						<!-- Groups list-->
						<div  data-ng-show = "userService.isAllowedView('syllabusWrite')" class="btn-group button-list" uib-dropdown keyboard-nav>
							<button id="btn-group-list" class="list" ng-disabled="syllabusService.isWorking()" uib-dropdown-toggle>
								<span class="add-label">{{syllabusService.syllabus.title}}</span> <span class="caret"></span> 
							</button>

							<ul uib-dropdown-menu class="list-menu-add-left" role="menu" aria-labelledby="btn-group-list">
								<li role="menuitem" ng-repeat="syllabus in syllabusService.syllabusList">
									<a href="" ng-click="selectSyllabus(syllabus)">{{::syllabus.title }} <span ng-if="syllabus.instructors.length > 0"> - {{::syllabus.instructors}}</span></a> 
								</li> 
							</ul>
						</div>
					</div>

					<div class="toolbar-right">
						<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.syllabus) && !syllabusLockService.lockError" class="action" ng-click="save()" ng-disabled="(!syllabusService.dirty || syllabusService.working)">
							<span class="glyphicon" ng-class="{'glyphicon-floppy-disk': !saving, 'glyphicon-refresh glyphicon-refresh-animate': saving}"></span> {{ 'BUTTON_SAVE' | translate }}
						</button>

						<button data-ng-show="userService.isAllowed('syllabusPublish', syllabusService.syllabus) && userService.isAllowed('syllabusWrite', syllabusService.syllabus) && !syllabusLockService.lockError" ng-disabled="syllabusService.isDirty() || syllabusService.working || (!syllabusService.syllabus.common && (!syllabusService.syllabus.sections || syllabusService.syllabus.sections.length === 0))" class="action" ng-click="startPublish()">
							<span class="glyphicon glyphicon-save"></span> {{ 'BUTTON_PUBLISH' | translate }}
						</button>

						<button class="action" ng-click="pdf()">
							PDF
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row mobile-navigation-host" ng-if="syllabusLoaded">
			<div class="col-xs-12">
				<mobile-navigation></mobile-navigation>
			</div>
		</div>

		<div class="row col-equal-height" ng-if="syllabusLoaded">
			<div class="navigation-host col-md-3 pull-left" data-ng-if="showNavigation">
				<navigation></navigation>
			</div>

			<div class="navigation-drawer" data-ng-if="!showNavigation">
				<button data-ng-click="toggleNavigation()"><span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>

			<div ng-include="'contentPanel/contentPanel.html'" data-ng-class="['col-xs-12', 'pull-left', {'col-md-9': showNavigation, 'all-width': !showNavigation}]" id="contentPanel"></div>
		</div>
	</div>
</div>
