<div data-ng-show = "userService.isAllowed('syllabusWrite', syllabusService.syllabus) && !syllabusLockService.lockError && tenjinService.viewState.stateName === 'syllabus-edit'" class="btn-group {{showAddMenu ? 'open' : ''}}" uib-dropdown keyboard-nav>
	<button type="button" class="btn action-list" uib-dropdown-toggle ng-click="checkRubricsAlreadyPresent()" ng-disabled="syllabusService.isWorking()">
		<span class="glyphicon glyphicon-plus-sign"></span>
		<span class="add-label">{{ 'ADD' | translate }}</span>
		<span class="caret"></span>
	</button>

    <ul uib-dropdown-menu class="list-menu-add" role="menu" aria-labelledby="simple-btn-keyboard-nav">		
		<li role="menuitem" ng-repeat="type in syllabusService.template[element.templateStructureId].elements" ng-if="!type.provided">
			<a data-type="{{type}}" href="javascript:void(0);" class="{{type.alreadyPresent === true ? 'link-deactivated' : ''}}" ng-click="addElement(type)">{{ type.label }}</a>			
		</li>
    </ul>
</div>
