.modal-dialog {

    input[type='checkbox'] {
        cursor : pointer;
    }

    .btn-primary {
        background-color: $bleu-hec;

        &:hover {
            background-color: $bleu-hec-hover;
        }
    }

    .assigned-syllabus {
        font-style: italic;
    }

    .libelle-syllabus {
        min-width: 250px;
    }

    .btn-warning {

    }

}