<div class="element-form reference-form"> 
	<resource-browser data-element="element" data-type="citation" data-title="'CITATION_BROWSER_TITLE' | translate"></resource-browser>
	
	<!-- Type -->
	<div class="label-text-type">{{ 'FORM_REFERENCE_TYPE' | translate }}</div>
	<div class="btn-group" uib-dropdown keyboard-nav>
		<button id="btn-section" type="button" class="list" uib-dropdown-toggle>
			<span class="add-label">{{currentType.name | translate }}</span>
			<span class="caret"></span>
		</button>
		<ul uib-dropdown-menu class="list-menu-add" role="menu" aria-labelledby="simple-btn-keyboard-nav">
			<li role="menuitem" data-ng-repeat="type in getCitationTypes()">
				<a href="" data-ng-click="selectType(type)">{{::type.name | translate }}</a> 
			</li>
		</ul>
	</div>

	<!-- Flags -->
	<div class="flags" style="margin-top: 20px;">
		<ul>
			<li><input id="chkLibraryLink" type="checkbox" name="activateLibraryLink" data-ng-model="element.attributes.activateLibraryLink" data-ng-true-value="'true'" /> <label for="chkLibraryLink">{{ 'ACTIVATE_LIBRARY_LINK' | translate  }}</label></li>
			<li><input id="chkOtherLink" type="checkbox" name="activateOtherLink" data-ng-model="element.attributes.activateOtherLink" data-ng-true-value="'true'" /> <label for="chkOtherLink">{{ 'ACTIVATE_OTHER_LINK' | translate  }}</label></li>
			<li data-ng-if="element.attributes.activateOtherLink == 'true'"><input type="text" name="otherLinkUrl" data-ng-model="element.attributes.otherLinkurl" /></li>
		</ul>
	</div>

	<!-- Description  --> 
	<div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div> 
	<textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>

	<element-common-attributes data-element="element" data-nocopyright="true"></element-common-attributes>
</div>
