<!-- Page et Feuille -->
<div ui-tree-handle class="tree-node tree-node-content">

    <div data-ng-switch="element.type"> 
    

        <!-- Display buttons -->
        <buttons-element data-ng-if="syllabusService.syllabus.$writePermission" data-element="element" data-noedit="!displayButtons.editButton()" data-nodelete="!displayButtons.deleteButton()" data-nodrag="!displayButtons.dragButton()" data-disabled="syllabusService.working" class="buttons-elements"></buttons-element>

        <!-- élément de type composite --> 
        <div data-ng-switch-when="composite" data-cluster-element="element"></div>
        <!-- élément de type lecture -->
        <div data-ng-switch-when="lecture" data-course-element="element"></div>
        <!-- élément de type tutorial -->
        <div data-ng-switch-when="tutorial" data-course-element="element"></div>
        <!-- élément de type evaluation -->
        <div data-ng-switch-when="evaluation" data-evaluation-element="element" data-index="$index"></div>
        <!-- élément de type exam -->
        <div data-ng-switch-when="exam" data-evaluation-element="element" data-index="$index"></div>

        <!-- élément de type rubric -->
        <div data-ng-switch-when="rubric" data-rubric-element="element"></div>

        <!-- élément de type texte -->
        <text-element data-ng-switch-when="text" [element]="element" ></text-element>

        <!-- <div data-dyn-attr="data-text-element" data-element="element"></div> -->
        <!-- élément de type document -->
        <div data-ng-switch-when="document" data-document-element="element"></div>
        <!-- élément de type référence bibliographique -->
        <div data-ng-switch-when="citation" data-biblio-element="element"></div>
        <!-- élément de type hyperlien -->
        <hyperlink-element data-ng-switch-when="hyperlink" [element]="element"></hyperlink-element>
        <!-- élément de type image -->
        <div data-ng-switch-when="image" data-image-element="element"></div>
        <!-- élément de type video -->
        <div data-ng-switch-when="video" data-video-element="element"></div>
        <!-- élément de type contactInfo -->
        <div data-ng-switch-when="contact_info" data-contact-element="element"></div>


        <!-- élément de type lien vers outil -->
        <div data-ng-switch-when="sakai_entity" data-tool-element="element"></div>

        <div ng-switch-default>
            <!-- Affichage attributs -->
            <div class="attributs" data-ng-switch="element.type">
                <div data-ng-switch-when="text">
                </div>
                <ul ng-switch-default>
                   <li data-ng-repeat="(key, value) in element.attributes">
                       {{key}} : {{value}}
                   </li>
                </ul>
            </div>

        </div> 


    </div>


</div>

