<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" class="ca.hec.tenjin.tool.entity.provider.PublicSyllabusEntityProviderImpl">
		<property name="publishService" ref="ca.hec.tenjin.api.PublishService" />
		<property name="exportService" ref="ca.hec.tenjin.api.ExportService" />
	</bean>
</beans>
