<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>sakai.tenjin</display-name>
	<description> The description of the tool will be added to a later date</description>

	<!--  This application's servlet class -->
	<servlet>
		<servlet-name>sakai.tenjin</servlet-name>
	    <servlet-class>uk.ac.cam.caret.sakai.WebappToolServlet</servlet-class>
	    <init-param>
	      	<param-name>main-page</param-name>
	      	<param-value>/index.jsp</param-value>
	    </init-param>
		<load-on-startup>0</load-on-startup>
  	</servlet>

	<!-- Sakai Request Filter -->
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>org.sakaiproject.util.RequestFilter</filter-class>
		<!-- If you need to do uploads you will need this -->
		<init-param>
			<param-name>upload.enabled</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>sakai.tenjin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- Sakai Tool Listener -->
	<listener>
		<listener-class>org.sakaiproject.util.ToolListener</listener-class>
	</listener>

	<!-- Sakai Spring Listener -->
	<listener>
		<listener-class>org.sakaiproject.util.SakaiContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>tenjinspringapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>tenjinspringapp</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tenjinspringapp</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>

</web-app>
