.project
.settings
.classpath
target
velocity.log
tool/src/main/webapp/dest
tool/src/main/webapp/node/
tool/src/main/webapp/node_modules/
tool/src/main/webapp/opensyllabus2.sublime-project
tool/src/main/webapp/source/bundle/
tool/src/main/webapp/source/js/templates.js
tool/src/main/webapp/source/js/typescript/
