.project
.settings
.classpath
*.sublime-workspace
velocity.log
target
tool/src/main/webapp/dest
tool/src/main/webapp/build
tool/src/main/webapp/node
tool/src/main/webapp/node_modules
*.bak
mysite.txt
