.mini-submenu{
	display:block;
	border-radius:4px;
	padding:9px;
	width:42px;
	height:100%;
}

.mini-submenu:hover{
	cursor:pointer
}

#slide-submenu{
	display:block;
	padding:0 8px;
	border-radius:4px;
	cursor:pointe;
}

#menu, #right {
    display:inline;
}

#menu {
    float:left;
    width: 350px;
    height: 100%;
}

#right {
    width:100%;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    left: 0px;
    height: 100%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#menubar {
    width:100%;
   
    padding: 10px;
}

#content .dropdown {
  margin-top: 20px;
}

// pour la demo
.list-group .list-group .list-group-item {
  margin-left: 15px;  
}

p.syllabus-element:hover {
  border: 1px dashed blue;
}
