<div class="management" data-ng-controller="ManagementCtrl">
	<div class="row default">
		<div class="btn-group col-xs-12">
			<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus()) || userService.isAllowedView('sectionAssign')" type="button" data-ng-click="addSyllabus()" data-ng-disabled="working" data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_CREATE_SYLLABUS_TOOLTIP' | translate }}" class="btn button-group">
				{{ 'BUTTON_CREATE_SYLLABUS' | translate }}<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" data-ng-if="working" style="margin-left: 10px;"></span>
			</button>
			<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus()) || userService.isAllowedView('sectionAssign')" type="button" data-ng-disabled="disableCopy" data-ng-click="copySyllabus()" data-toggle="tooltip" data-placement="bottom" title="{{ 'COPY_TOOLTIP' | translate }}" class="btn button-group">{{ 'COPY' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('syllabusWrite')" type="button" data-ng-disabled="disableDelete" data-ng-click="deleteSyllabus()" data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_DELETE_SYLLABUS_TOOLTIP' | translate }}" class="btn button-group">{{ 'BUTTON_DELETE_SYLLABUS' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('syllabusWrite')" type="button" data-ng-disabled="disableUnpublish" data-ng-click="unpublishSyllabus()"  data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_UNPUBLISH_SYLLABUS_TOOLTIP' | translate }}" class="btn button-group">{{ 'BUTTON_UNPUBLISH_SYLLABUS' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('import') && userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus())" type="button" data-ng-click="externalSyllabusImport()" data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_IMPORT_SYLLABUS_TOOLTIP' | translate }}" class="btn button-group">{{ 'BUTTON_IMPORT_SYLLABUS' | translate }}</button>
			<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus())" type="button" data-ng-click="makeSyllabusCommon()" data-ng-disabled="disableMakeCommon" data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_MAKE_SYLLABUS_COMMON_TOOLTIP' | translate }}" class="btn button-group">{{ 'BUTTON_MAKE_SYLLABUS_COMMON' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('permissions')" type="button" data-ng-click="openPermissionsModal()" data-toggle="tooltip" data-placement="bottom" title="{{ 'BUTTON_MODIFY_PERMISSIONS_TOOLTIP' | translate }}" class="btn button-group">{{ 'BUTTON_MODIFY_PERMISSIONS' | translate }}</button>
		</div>
	</div>

	<div class="row default">
		<div class="col-xs-12">
			<table>
				<tr>
					<th>{{ 'TABLE_NAME' | translate }}</th>
					<th>{{ 'TABLE_AUTHOR' | translate }}</th>
					<th>{{ 'TABLE_SECTIONS' | translate }}</th>
					<th>{{ 'TABLE_LAST_PUBLISHED_DATE' | translate }}</th>
					<th>{{ 'TABLE_LAST_MODIFICATION_DATE' | translate }}</th>
					<th class="th-select"> </th>
				</tr>

				<tr data-ng-repeat="syllabus in syllabusService.syllabusList track by syllabus.id">
					<td>
						<a class="action" data-ng-if="userService.canEditElement(syllabus, syllabus) && !syllabus.common" editable-text="syllabus.title" onbeforesave="updateTitle($data, syllabus)"><span class="glyphicon glyphicon-pencil"></span></a>
						
						<a data-ng-if="userService.isAllowed('syllabusWrite', syllabus) || userService.isAllowed('syllabusRead', syllabus)" ui-sref="syllabus-edit({ id: syllabus.id })">{{syllabus.title}}</a>
						<span data-ng-if="!userService.isAllowed('syllabusWrite', syllabus) && !userService.isAllowed('syllabusRead', syllabus)">{{syllabus.title}}</span>
					</td>

					<td>{{syllabus.createdByName}}</td>

					<td>
						<!-- if common syllabus and no write permission on site -->
						<span data-ng-if="!userService.canEditElement(syllabus,syllabus)">{{ showSections(syllabus) }}</span>

						<!-- if not common syllabus or common syllabus with write permissions -->
						<a data-ng-if="userService.canEditElement(syllabus,syllabus)" href="" editable-checklist="syllabus.sections" e-ng-options="s.id as s.name for s in userSections" onbeforesave="updateSections($data, syllabus)" onaftersave="updateSyllabusList(syllabus)">
							{{ showSections(syllabus) }}
						</a>
					</td>

					<td>
						<span data-ng-if="syllabus.publishedDate">{{syllabus.publishedDate | date: 'medium'}}</span>

						<span data-ng-if="!syllabus.publishedDate">{{ 'DRAFTED_SYLLABUS' | translate }}</span>
					</td>

					<td>
						<span data-ng-if="syllabus.lastModifiedDate">{{syllabus.lastModifiedDate | date: 'medium'}}</span>
					</td>

					<td class="th-select">
						<input data-ng-if="userService.isAllowed('syllabusWrite', syllabus)" type="checkbox" name="syllabus.id" data-ng-model="syllabus.checked" data-ng-click="checkStatus()" />
					</td>
				</tr>
				<tr>
					<td colspan="6" class="explanation">
						<div>
							{{ 'MANAGEMENT_EXPLANATION_1' | translate }}</br>
							{{ 'MANAGEMENT_EXPLANATION_2' | translate }}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row mobile">
		<div class="col-xs-12">
			<table>
				<tr>
					<th>{{ 'TABLE_NAME' | translate }}</th>
				</tr>

				<tr data-ng-repeat="syllabus in syllabusService.syllabusList track by syllabus.id">
					<td>
						<div>
							<a data-ng-if="userService.isAllowed('syllabusWrite', syllabus) || syllabus.publishedDate != null" ui-sref="syllabus-edit({ id: syllabus.id })">{{syllabus.title}}</a>
							<span data-ng-if="!userService.isAllowed('syllabusWrite', syllabus) && syllabus.publishedDate == null">{{syllabus.title}}</span>							
						</div>

						<div>
							{{ syllabus.createdByName }}
						</div>

						<div>
							{{ showSections(syllabus) }}
						</div>

						<div>
							<span class="bold">{{ 'TABLE_LAST_PUBLISHED_DATE' | translate }}:</span> {{syllabus.publishedDate | date: 'medium'}}
						</div>

						<div>
							<span class="bold">{{ 'TABLE_LAST_MODIFICATION_DATE' | translate }}:</span> {{syllabus.lastModifiedDate | date: 'medium'}}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
