<section class="management">

    <div class="loader-container" data-ng-show="managementCtrl.infos.working"> 
        <div class="loader"></div>
    </div>

    <div class="main-errors">
        <uib-alert data-ng-if="alertService.isVisible('danger')" class="myalert" type="danger" close="alertService.closeAlert('danger')" dismiss-on-timeout="5000">{{alertService.getAlertMsg('danger')}}</uib-alert>
        <uib-alert data-ng-if="alertService.isVisible('success')" class="myalert" type="success" close="alertService.closeAlert('success')" dismiss-on-timeout="5000">{{alertService.getAlertMsg('success')}}</uib<-alert>
    </div>

    <div class="buttons-list">
        <!-- CREATE -->
        <button class="btn btn-primary" type="button" data-ng-click="managementCtrl.addSyllabus()">{{ 'BUTTON_CREATE_SYLLABUS' | translate }}</button>
    
    </div>

    <div>
        
      <table>
        <tr>
          <th>{{ 'TABLE_NAME' | translate }}</th>
          <th>{{ 'TABLE_AUTHOR' | translate }}</th>
          <th>{{ 'TABLE_SECTIONS' | translate }}</th>
          <th>{{ 'TABLE_STATUS' | translate }}</th>
          <th> </th>
          <th class="th-select"> </th>
        </tr>

        <tr data-ng-repeat="syllabus in managementCtrl.syllabusService.syllabusList track by syllabus.id">
          <td>
            <a data-ng-if="!syllabus.common" editable-text="syllabus.title" onbeforesave="managementCtrl.updateTitle($data, syllabus)">{{syllabus.title}}</a>
            <span data-ng-if="syllabus.common">{{syllabus.title}}</span>
          </td>
          <td>
            {{syllabus.createdByName}}
          </td>
          <td>
            <!-- if common syllabus and no write permission on site -->
            <span data-ng-if="syllabus.common">
              {{ managementCtrl.showSections(syllabus) }}
            </span>
            <!-- if not common syllabus or common syllabus with write permissions -->
            <a data-ng-if="!syllabus.common" href="" editable-checklist="syllabus.sections" e-ng-options="s.id as s.name for s in managementCtrl.userSections" onbeforesave="managementCtrl.updateSections($data, syllabus)" onaftersave="managementCtrl.updateSyllabusList(syllabus)">
              {{ managementCtrl.showSections(syllabus) }}
            </a>

          </td> 
          <td>
            {{ syllabus.status | translate }}
          </td>
          <td>
              <a ui-sref="syllabus({ id: syllabus.id })">{{ 'LINK_SYLLABUS' | translate }}</a>
          </td>
          <td>
              <input data-ng-if="!syllabus.common" type="checkbox" name="syllabus.id" data-ng-model="syllabus.checked" data-ng-click="managementCtrl.enableDelete()" /> 
          </td>
        </tr> 

      </table>

      <div class="button-container-delete">
          <!-- DELETE -->
          <button class="btn btn-primary" type="button" data-ng-disabled="managementCtrl.disableDelete" data-ng-click="managementCtrl.deleteSyllabus()">{{ 'BUTTON_DELETE_SYLLABUS' | translate }}</button>
      
      </div>

    </div>
    


</section>