<div class="management" data-ng-controller="ManagementCtrl">
	<div class="row default">
		<div class="buttons-list col-xs-12">
			<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus()) || userService.isAllowedView('sectionAssign')" type="button" data-ng-click="addSyllabus()">{{ 'BUTTON_CREATE_SYLLABUS' | translate }}</button>
			<button data-ng-show="userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus()) || userService.isAllowedView('sectionAssign')" type="button" data-ng-disabled="disableCopy" data-ng-click="copySyllabus()">{{ 'COPY' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('syllabusWrite')" type="button" data-ng-disabled="disableDelete" data-ng-click="deleteSyllabus()">{{ 'BUTTON_DELETE_SYLLABUS' | translate }}</button>
			<button data-ng-show="userService.isAllowedView('import') && userService.isAllowed('syllabusWrite', syllabusService.getCommonSyllabus())" type="button" data-ng-click="externalSyllabusImport()">{{ 'BUTTON_IMPORT_SYLLABUS' | translate }}</button>
		</div>
	</div>

	<div class="row default">
		<div class="col-xs-12">
			<table>
				<tr>
					<th>{{ 'TABLE_NAME' | translate }}</th>
					<th>{{ 'TABLE_AUTHOR' | translate }}</th>
					<th>{{ 'TABLE_SECTIONS' | translate }}</th>
					<th>{{ 'TABLE_LAST_PUBLISHED_DATE' | translate }}</th>
					<th>{{ 'TABLE_LAST_MODIFICATION_DATE' | translate }}</th>
					<th class="th-select"> </th>
				</tr>

				<tr data-ng-repeat="syllabus in syllabusService.syllabusList track by syllabus.id">
					<td>
						<a class="action" data-ng-if="userService.canEditElement(syllabus, syllabus) && !syllabus.common" editable-text="syllabus.title" onbeforesave="updateTitle($data, syllabus)"><span class="glyphicon glyphicon-pencil"></span></a>
						
						<a data-ng-if="userService.isAllowed('syllabusWrite', syllabus) || syllabus.publishedDate != null" ui-sref="syllabus-edit({ id: syllabus.id })">{{syllabus.title}}</a>
						<span data-ng-if="!userService.isAllowed('syllabusWrite', syllabus) && syllabus.publishedDate == null">{{syllabus.title}}</span>
					</td>

					<td>{{syllabus.createdByName}}</td>

					<td>
						<!-- if common syllabus and no write permission on site -->
						<span data-ng-if="!userService.canEditElement(syllabus,syllabus)">{{ showSections(syllabus) }}</span>

						<!-- if not common syllabus or common syllabus with write permissions -->
						<a data-ng-if="userService.canEditElement(syllabus,syllabus)" href="" editable-checklist="syllabus.sections" e-ng-options="s.id as s.name for s in userSections" onbeforesave="updateSections($data, syllabus)" onaftersave="updateSyllabusList(syllabus)">
							{{ showSections(syllabus) }}
						</a>
					</td>

					<td>
						<span data-ng-if="syllabus.publishedDate">{{syllabus.publishedDate | date: 'medium'}}</span>

						<span data-ng-if="!syllabus.publishedDate">{{ 'DRAFTED_SYLLABUS' | translate }}</span>
					</td>

					<td>
						<span data-ng-if="syllabus.lastModifiedDate">{{syllabus.lastModifiedDate | date: 'medium'}}</span>
					</td>

					<td class="th-select">
						<input data-ng-if="!syllabus.common && userService.isAllowed('syllabusWrite', syllabus)" type="checkbox" name="syllabus.id" data-ng-model="syllabus.checked" data-ng-click="checkStatus()" />
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row mobile">
		<div class="col-xs-12">
			<table>
				<tr>
					<th>{{ 'TABLE_NAME' | translate }}</th>
				</tr>

				<tr data-ng-repeat="syllabus in syllabusService.syllabusList track by syllabus.id">
					<td>
						<div>
							<a data-ng-if="userService.isAllowed('syllabusWrite', syllabus) || syllabus.publishedDate != null" ui-sref="syllabus-edit({ id: syllabus.id })">{{syllabus.title}}</a>
							<span data-ng-if="!userService.isAllowed('syllabusWrite', syllabus) && syllabus.publishedDate == null">{{syllabus.title}}</span>							
						</div>

						<div>
							{{ syllabus.createdByName }}
						</div>

						<div>
							{{ showSections(syllabus) }}
						</div>

						<div>
							<span class="bold">{{ 'TABLE_LAST_PUBLISHED_DATE' | translate }}:</span> {{syllabus.publishedDate | date: 'medium'}}
						</div>

						<div>
							<span class="bold">{{ 'TABLE_LAST_MODIFICATION_DATE' | translate }}:</span> {{syllabus.lastModifiedDate | date: 'medium'}}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
