<div class="exam element-host">
	<div class="title box-title">
		{{eval-num}} - {{element.title}} <span class="weight">({{element.attributes.examWeight}}%)</span>
	</div>

	<div class="details">
		<ul>
			{{#attr-cond this 'or' 'examInClass' 'examAtHome'}}
				<li>
					<span class="label">{{str 'EXAM_LOCATION'}}:</span>

					{{#if-eq element.attributes.examInClass 'true'}}
						{{str 'EXAM_INCLASS'}}
					{{/if-eq}}

					{{#attr-cond this 'and' 'examInClass' 'examAtHome'}}
						/
					{{/attr-cond}}

					{{#if-eq element.attributes.examAtHome 'true'}}
						{{str 'EXAM_ATHOME'}}
					{{/if-eq}}
				</li>
			{{/attr-cond}}

			{{#attr-cond this 'or' 'examPaper' 'examElectronic'}}
				<li>
					<span class="label">{{str 'EXAM_SUBMISSION_TYPE'}}:</span>

					{{#if-eq element.attributes.examPaper 'true'}}
						{{str 'EXAM_PAPER'}}
					{{/if-eq}}

					{{#attr-cond this 'and' 'examPaper' 'examElectronic'}}
						/
					{{/attr-cond}}

					{{#if-eq element.attributes.examElectronic 'true'}}
						{{str 'EXAM_ELECTRONIC'}}
					{{/if-eq}}
				</li>
			{{/attr-cond}}

			{{#attr-cond this 'or' 'examOral' 'examWritten'}}
				<li>
					<span class="label">{{str 'EXAM_TERMS'}}:</span>

					{{#if-eq element.attributes.examOral 'true'}}
						{{str 'EXAM_ORAL'}}
					{{/if-eq}}

					{{#attr-cond this 'and' 'examOral' 'examWritten'}}
						/
					{{/attr-cond}}

					{{#if-eq element.attributes.examWritten 'true'}}
						{{str 'EXAM_WRITTEN'}}
					{{/if-eq}}
				</li>
			{{/attr-cond}}

			{{#if element.attributes.examMode}}
				<span class="label">{{str 'EXAM_ASSESSMENT_TYPE'}}:</span>

				{{#if-eq element.attributes.examMode 'team'}}
					{{str 'EXAM_TEAM'}}
				{{/if-eq}}

				{{#if-eq element.attributes.examMode 'individual'}}
					{{str 'EXAM_INDIVIDUAL'}}
				{{/if-eq}}
			{{/if}}
		</ul>
	</div>

	<ul class="element-listing">
		{{#each children}}
			{{> elements/element.html}}
		{{/each}}
	</ul>
</div>
