.container-browser-element {
	margin-bottom: 10px;
	font-size: 1.1em;

	.browser-element {
		border: 1px solid #ddd;

		height: 200px;
		resize: vertical;
		overflow: auto;
		margin-bottom: 5px;  

		.glyphicon-chevron-right, .glyphicon-chevron-down {
			padding-bottom: 2px;
		}
	}

	.item-selected {
		background-color: #ddd;
		font-weight: bold;
	}

	.select-resource {
		cursor: pointer;
	}

	.folder, .select-resource {
		display: inline-block;
		padding: 0 5px;
	}

	.folder {
		font-weight: bold;
	}

	.btn, .btn:hover, .btn:active {
		border-color: transparent!important;
		background-color: transparent!important;
		color: $font-color-button-list!important;
		font-size: 1.1em!important;
		box-shadow: 0!important;
	}
}

.manage-resources-buttons {
	float: right;

	a {
		cursor: pointer;
		color: #003c71;
		&:hover {
			color: #005eb8;
		}
	}



	span {
		margin-right: 5px;
	}
}

.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}

a.disabled {
	cursor: default;
	&:hover {
		color: #003c71;
	}
}
