<script type="text/ng-template" id="browser_renderer.html">
	<div data-ng-if="item.type === 'folder' && isResourceVisible(item)" class="folder">
		<a class="btn btn-success btn-xs" data-ng-click="toggleTree(this)">
			<span class="glyphicon" data-ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
			{{::item.name | translate}}
		</a>
	</div>

	<div data-ng-if="item.type === 'citationList' && type === 'citation'" class="folder">
		<a class="btn btn-success btn-xs" data-ng-click="toggleTree(this)">
			<span class="glyphicon" data-ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
			{{::item.name}}
		</a>
	</div>

	<div data-ng-if="item.type === type && isResourceVisible(item)" data-ng-click="setSelectedResource(item)" class="select-resource" data-ng-class="{'item-selected': (element.$selectedResource.resourceId === item.resourceId) }">
		{{::item.name}}
	</div>

	<ol ui-tree-nodes="" data-ng-if="isResourceVisible(item)" data-ng-model="item.resourceChildren" data-ng-class="{hidden: collapsed}">
		<li data-ng-repeat="item in item.resourceChildren" ui-tree-node data-ng-include="'browser_renderer.html'"></li>
	</ol>
</script>

<label class="label-text-title">
	<span data-ng-if="title && title.length > 0">{{title}}</span>
	<span data-ng-if="!title || title.length === 0">{{ 'RESOURCE_BROWSER_TITLE' | translate }}</span>
	<span class="mandatory"></span>
</label>

<div class="container-browser-element">
	<div class="browser-element" ui-tree="browserOptions" data-drag-enabled="false" data-nodrop-enabled="true" resourceBrowser>
		<ol ui-tree-nodes="" ng-model="resources.resourceChildren">
			<li ng-repeat="item in resources.resourceChildren" ui-tree-node class="toCollapse">
				<div ng-include="'browser_renderer.html'"></div>
			</li>
		</ol>  
	</div>

	<div data-ng-if="element.$selectedResource">
		{{ 'RESOURCE_BROWSER_SELECTED' | translate }} : {{element.$selectedResource.name || '?'}}
	</div>
</div>
