<script type="text/ng-template" id="browser_renderer.html">
	<div data-ng-if="item.type === 'folder' && isResourceVisible(item)" class="folder">
		<a class="btn btn-success btn-xs" data-ng-click="toggleTree(this)">
			<span class="glyphicon" data-ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
			{{::item.name | translate}}
		</a>
	</div>

	<div data-ng-if="item.type === 'citationList' && type === 'citation'" class="folder">
		<a class="btn btn-success btn-xs" data-ng-click="toggleTree(this)">
			<span class="glyphicon" data-ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
			{{::item.name}}
		</a>
	</div>

	<div data-ng-if="item.type === type && isResourceVisible(item)" data-ng-click="setSelectedResource(item)" class="select-resource" data-ng-class="{'item-selected': (element.$selectedResource.resourceId === item.resourceId) }">
		{{::item.name}}
	</div>

	<ol ui-tree-nodes="" data-ng-if="isResourceVisible(item)" data-ng-model="item.resourceChildren" data-ng-class="{hidden: collapsed}">
		<li data-ng-repeat="item in item.resourceChildren" ui-tree-node data-ng-include="'browser_renderer.html'"></li>
	</ol>
</script>

<label class="label-text-title">
	<span data-ng-if="title && title.length > 0">{{title}}</span>
	<span data-ng-if="!title || title.length === 0">{{ 'RESOURCE_BROWSER_TITLE' | translate }}</span>
</label>
<div class="manage-resources-buttons" data-ng-if="type === 'document'">
	<a data-ng-click="refreshResources()" data-ng-class="{'disabled': refreshing}"><span class="glyphicon glyphicon-refresh" data-ng-class="{'glyphicon-refresh-animate': refreshing}"></span><span>{{ 'RESOURCE_REFRESH_BUTTON'| translate }}</span></a>
	<a data-ng-click="openResourceProperties()" data-ng-class="{'disabled': !element.$selectedResource}"><span class="glyphicon glyphicon-list-alt"></span><span>{{ 'RESOURCE_PROPERTIES_BUTTON' | translate }}</span></a>
	<a data-ng-click="openResourcesTool()"><span class="glyphicon icon-sakai--sakai-resources"></span><span>{{ 'RESOURCE_TOOL_BUTTON' | translate }}</span></a>
</div>

<div class="container-browser-element">
	<div class="browser-element" ui-tree="browserOptions" data-drag-enabled="false" data-nodrop-enabled="true" resourceBrowser>
		<ol ui-tree-nodes="" ng-model="resources.resourceChildren">
			<li ng-repeat="item in resources.resourceChildren" ui-tree-node class="toCollapse">
				<div ng-include="'browser_renderer.html'"></div>
			</li>
		</ol>  
	</div>

	<div data-ng-if="element.$selectedResource">
		{{ 'RESOURCE_BROWSER_SELECTED' | translate }} : {{element.$selectedResource.name || '?'}}
	</div>
</div>

<form id="resourcePropertiesForm" action="{{ resourcesUrl }}" method="post" target="_blank">
	<input type="hidden" name="sakai_csrf_token" value="{{ csrf_token }}"/>
	<input type="hidden" name="rt_action" value="org.sakaiproject.content.types.fileUpload:properties"/>
	<input type="hidden" name="sakai_action" value="doDispatchAction"/>
	<input id="selectedItemIdInput" type="hidden" name="selectedItemId"/>
</form>
