<div class="element contact-info syllabus-text">
	<div class="element-title"> 
		<span class="contact-firstname">{{element.attributes.contactInfoFirstName}}</span> 
		<span class="contact-lastname">{{element.attributes.contactInfoLastName}}</span>
	</div>

	<div data-ng-if="element.attributes.contactInfoTitle" class="contact-title">{{ title }}</div>

	<div data-ng-if="element.attributes.contactInfoEmail" class="contact-email">
		<a href="mailto:{{element.attributes.contactInfoEmail}}">{{element.attributes.contactInfoEmail}} </a>
	</div>

	<div data-ng-if="element.attributes.contactInfoTelephone" class="contact-tel">{{element.attributes.contactInfoTelephone}}</div>

	<div data-ng-if="element.attributes.contactInfoOfficeRoom" class="contact-officeroom"> {{CONTACT_OFFICEROOM_TRANSLATE}}: {{element.attributes.contactInfoOfficeRoom}}</div> 

	<div class="contact-disponibilite" data-ng-if="element.attributes.contactInfoAvailability" >
		<span>{{CONTACT_AVAILABILITY_TRANSLATE}}:</span>
		<span ng-bind-html="element.attributes.contactInfoAvailability"> </span>
	</div>
	
	<div class="contact-description" data-ng-if="element.description" ng-bind-html="element.description"></div>
</div>
