<div class="element tool">

     <div class="titre-element">
        <a href="{{entity.url}}" target="_blank">
            {{ entity.name }} 
        </a>
        <span class="tool-title">
            [{{ entity.tool }}]
        </span> 
    </div>
 

    <div data-ng-bind-html="element.description" class="comment"></div>

    <div class="infos">
        <span data-ng-class="{ 'picto-important' : ( element.attributes.toolImportant === 'true') }" title="Important"></span>
        <span data-ng-class="{ 'picto-hec' : ( element.attributes.toolDiffusion === 'hec' ), 'picto-public' : ( element.attributes.toolDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span data-ng-class="{ 'picto-hidden' : ( element.attributes.toolHidden === 'true') }" title="Visible"></span>     
    </div>

</div>