<div class="contact-info">
	<div class="name">
		{{attr this 'contactInfoFirstName'}}&nbsp;{{attr this 'contactInfoLastName'}}
	</div>

	<div class="title">
		{{attr-enum this 'contactInfoTitle' 'contactInfoTitles'}}
	</div>

	{{#attr-exists this 'contactInfoEmail'}}
		<div class="email">
			<span class="label">{{str 'CONTACTINFO_EMAIL'}}</span>: {{attr this 'contactInfoEmail'}}
		</div>
	{{/attr-exists}}

	{{#attr-exists this 'contactInfoTelephone'}}
		<div class="phone">
			<span class="label">{{str 'CONTACTINFO_TELEPHONE'}}</span>: {{attr this 'contactInfoTelephone'}}
		</div>
	{{/attr-exists}}

	{{#attr-exists this 'contactInfoOfficeRoom'}}
		<div class="office">
			<span class="label">{{str 'CONTACTINFO_OFFICEROOM'}}</span>: {{attr this 'contactInfoOfficeRoom'}}
		</div>
	{{/attr-exists}}

	<div class="description">
		<div class="syllabus-text">
			{{{html element.description}}}
		</div>
	</div>
</div>
