<div class="contact-info">
	<div class="name">
		{{#attribute this 'contactInfoFirstName'}}{{/attribute}}&nbsp;{{#attribute this 'contactInfoLastName'}}{{/attribute}}
	</div>

	<div class="title">
		{{#attribute this 'contactInfoTitle'}}{{/attribute}}
	</div>

	<div class="email">
		{{#attribute this 'contactInfoEmail'}}{{/attribute}}
	</div>

	<div class="phone">
		{{#attribute this 'contactInfoPhone'}}{{/attribute}}
	</div>

	<div class="phone">
		{{#attribute this 'contactInfoOfficeRoom'}}{{/attribute}}
	</div>

	<div class="description syllabus-text">
		{{#html element.description}}{{/html}}
	</div>
</div>
