<div class="exam">
	<div class="title">
		{{element.title}} <span class="weight">({{attr this 'examWeight'}}%)</span>
	</div>

	<div class="details">
		<ul>
			{{#attr-cond this 'or' 'examInClass' 'examAtHome'}}
				<li>
					<span class="label">{{str 'EXAM_LOCATION'}}:</span>

					{{#attr-exists this 'examInClass'}}
						{{str 'EXAM_INCLASS'}}
					{{/attr-exists}}

					{{#attr-cond this 'and' 'examInClass' 'examAtHome'}}
						/
					{{/attr-cond}}

					{{#attr-exists this 'examAtHome'}}
						{{str 'EXAM_ATHOME'}}
					{{/attr-exists}}
				</li>
			{{/attr-cond}}

			{{#attr-cond this 'or' 'examPaper' 'examElectronic'}}
				<li>
					<span class="label">{{str 'EXAM_SUBMISSION_TYPE'}}:</span>

					{{#attr-exists this 'examPaper'}}
						{{str 'EXAM_PAPER'}}
					{{/attr-exists}}

					{{#attr-cond this 'and' 'examPaper' 'examElectronic'}}
						/
					{{/attr-cond}}

					{{#attr-exists this 'examElectronic'}}
						{{str 'EXAM_ELECTRONIC'}}
					{{/attr-exists}}
				</li>
			{{/attr-cond}}

			{{#attr-cond this 'or' 'examOral' 'examWritten'}}
				<li>
					<span class="label">{{str 'EXAM_TERMS'}}:</span>

					{{#attr-exists this 'examOral'}}
						{{str 'EXAM_ORAL'}}
					{{/attr-exists}}

					{{#attr-cond this 'and' 'examOral' 'examWritten'}}
						/
					{{/attr-cond}}

					{{#attr-exists this 'examWritten'}}
						{{str 'EXAM_WRITTEN'}}
					{{/attr-exists}}
				</li>
			{{/attr-cond}}

			{{#attr-exists this 'examMode'}}
				<span class="label">{{str 'EXAM_ASSESSMENT_TYPE'}}:</span>

				{{#attr-is this 'examMode' 'team'}}
					{{str 'EXAM_TEAM'}}
				{{/attr-is}}

				{{#attr-is this 'examMode' 'individual'}}
					{{str 'EXAM_INDIVIDUAL'}}
				{{/attr-is}}
			{{/attr-exists}}
		</ul>
	</div>

	<ul>
		{{#each children}}
			<li class="element">
				{{> elements/element.html}}
			</li>
		{{/each}}
	</ul>
</div>
