.syllabus-text > h3 {
	background-color: #ebebeb;
	color: #003c71;
	padding: 10px 0 10px 5px;
	margin-bottom: 10px !important;
	font-family: "dineng", "arial", "sans-serif";
	font-weight: normal !important;
	font-size:  21px !important;
}
