.element-common-attributes {
	padding-top: 15px;
}

.element-form {	
	.field {
		padding-bottom: 10px;
	}

	.field:last-child {
		padding-bottom: 0;
	}

	.cke_toolbar_break {
		clear: none!important;
		float: none!important;
	}

	.row {
		input[type='text'] {
			width: 100%;
		}

		.btn-group {
			width: 100%;

			button {
				width: 100%;
			}
		}
	}
}
