.element-form {
    padding: 0 10px;

    label {
        font-weight: normal;
    }

    .buttons-form {
        margin-top: 20px;
    }

    .bouton-date {
        float: right;
        height: 28px;
        vertical-align: bottom;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -5px;
    }

    .label-date-start,
    .container-date-start {
        display: inline-block;
    }

    .container-date-start {
        vertical-align: bottom;
    }

    .form-control {
        height: 28px;
    }

    .input-group {
        width: 250px;
        margin-bottom: 0;
    }

    input {
        cursor: pointer;
    }

    .datetime-picker-dropdown {
        min-width: 270px;
    }

    .date-start {
        margin-bottom: 10px;
    }

    .file-upload {
        margin-bottom: 10px;
    }

    // CKEDITOR
    .cke_toolbar_break {
        clear: none;
        float: none;
    }
}

.modal-body.errors {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2dede;
    color: #a94442;
}

.readonly-props {
    margin-top: 20px;
}

.readonly-props .prop {
    font-weight: bold;
}
