.element-common-attributes {
	padding-top: 15px;
}

.element-form {
	label {
		font-size: 1.1em;
		font-weight: normal;
	}
	
	input[type='text'] {
		padding: 2px;
		border: 1px solid #ddd;
	}

	.field {
		padding-bottom: 10px;
	}

	.field:last-child {
		padding-bottom: 0;
	}

	.cke_toolbar_break {
		clear: none!important;
		float: none!important;
	}

	.row {
		input[type='text'] {
			width: 100%;
		}

		.btn-group {
			width: 100%;

			button {
				width: 100%;
			}
		}
	}
}
