<div class="element-form"> 

    <!-- Fichier -->
    <input class="file-upload" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="1MB" required>

    <!-- Titre -->
    <label for="male" class="label-text-title">{{ 'FORM_TITRE' | translate }}</label>
    <input type="text" name="title" data-ng-model="element.title" class="input-text-title" />

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>