<div class="element-form"> 

  <div class="container-eval-form">
  	<div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'FORM_TITRE_EVALUATION' | translate }}</label>
	    </div>
	    <div class="col-md-4" >
	    	<input type="text" name="evaluationTitle" data-ng-model="element.title" class="input-text-title" />
		</div>
		<div class="col-md-4">  </div>
	</div>
	<div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'FORM_PONDERATION_EVALUATION' | translate }}</label>
	    </div>
	    <div class="col-md-4">
	    	<input type="text" name="evaluationWeight" data-ng-model="element.evalWeight" />
		</div>
	    <div class="col-md-4"> </div>
	</div>
	<div class="row" data-ng-if="element.type == 'evaluation'" >
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_DATE' | translate }}</label>
	    </div>
	    <div class="col-md-4" >
		    	<span class=" input-group">
				    	<input type="text" class="eval-form-control" datetime-picker="dd-MMMM-yyyy HH:mm" data-ng-model="element.evalDate" is-open="statusDateEval.opened" />
						<span class="input-group-btn">
		                    <button type="button" class="btn btn-default" data-ng-click="openDateEval($event)">
		                        <i class="glyphicon glyphicon-calendar" ></i>
		                    </button>
		                </span>
            	</span>
			</div>
	    <div class="col-md-4"></div>
	 </div>
	 <div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_LOCALISATION' | translate }}</label>
	    </div>
	    <div class="col-md-4">
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalInClass" > {{ 'EVALUATION_INCLASS' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalAtHome" > {{ 'EVALUATION_ATHOME' | translate }}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_TERMS' | translate }}</label>
	    </div>
	    <div class="col-md-4">
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalOral" > {{ 'EVALUATION_ORAL' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalWritten" > {{ 'EVALUATION_WRITTEN' | translate }}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_SUBMISSION_TYPE' | translate }}</label>
	    </div>
	    <div class="col-md-4">
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalPaper" > {{ 'EVALUATION_PAPER' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalElectronic" > {{ 'EVALUATION_ELECTRONIC' | translate }}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4">
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_ASSESSMENT_TYPE' | translate }}</label>
	    </div>
	    <div class="col-md-4">
	    	<table>
		    	<tr>
				    <td>
				    	<input type="radio" name="evalMode" > {{ 'EVALUATION_INDIVIDUAL' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="radio" name="evalMode" > {{ 'EVALUATION_TEAM' | translate }}
					</td>
				</tr>
			</table>
		</div>
	 	<div class="col-md-4"></div>
	 </div>	
	</div>  
    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>