<div class="element-form"> 

  <table class="eval-form">
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'FORM_TITRE_EVALUATION' | translate }}</label>
	    </td>
	    <td >
	    	<input type="text" name="evaluationTitle" data-ng-model="element.title" class="input-text-title" />
		</td>
	  </tr>
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'FORM_PONDERATION_EVALUATION' | translate }}</label>
	    </td>
	    <td>
	    	<input type="text" name="evaluationWeight" data-ng-model="element.evalWeight" />
		</td>
	  </tr>
	  <tr data-ng-if="element.type == 'evaluation'" >
	    <td>
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_DATE' | translate }}</label>
	    </td>
	    <td >
	    	    	<table>
		    	<tr class="input-group">
				    <td>
				    	<input type="text" class="eval-form-control" datetime-picker="dd-MMMM-yyyy HH:mm" data-ng-model="element.evalDate" is-open="statusDateEval.opened" />
				    </td>
				    <td>
						<span class="input-eval-group-btn">
		                    <button type="button" class="btn btn-default" data-ng-click="openDateEval($event)">
		                        <i class="glyphicon glyphicon-calendar" ></i>
		                    </button>
		                </span>
                	</td>
				</tr>
			</table>
		</td>
	  </tr>
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_LOCALISATION' | translate }}</label>
	    </td>
	    <td>
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalInClass" > {{ 'EVALUATION_INCLASS' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalAtHome" > {{ 'EVALUATION_ATHOME' | translate }}
					</td>
				</tr>
			</table>
		</td>
	  </tr>
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_TERMS' | translate }}</label>
	    </td>
	    <td>
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalOral" > {{ 'EVALUATION_ORAL' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalWritten" > {{ 'EVALUATION_WRITTEN' | translate }}
					</td>
				</tr>
			</table>
		</td>
	  </tr>
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_SUBMISSION_TYPE' | translate }}</label>
	    </td>
	    <td>
	    	<table>
		    	<tr>
				    <td>
				    	<input type="checkbox" name="evalPaper" > {{ 'EVALUATION_PAPER' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="checkbox" name="evalElectronic" > {{ 'EVALUATION_ELECTRONIC' | translate }}
					</td>
				</tr>
			</table>
		</td>
	  </tr>
	  <tr>
	    <td>
	    	<label for="male" class="label-text-title">{{ 'EVALUATION_ASSESSMENT_TYPE' | translate }}</label>
	    </td>
	    <td>
	    	<table>
		    	<tr>
				    <td>
				    	<input type="radio" name="evalMode" > {{ 'EVALUATION_INDIVIDUAL' | translate }}
				    </td>
				</tr>
				<tr>
				    <td>
				    	<input type="radio" name="evalMode" > {{ 'EVALUATION_TEAM' | translate }}
					</td>
				</tr>
			</table>
		</td>
	  </tr>
	 
	</table>  
    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>