<div class="element image">
        

    <div class="titre-element">
        <!-- <a href="{{element.attributes.imageUrl}}" target="_blank"> -->
            {{ element.title }} 
        <!-- </a> -->
    </div>
    <div> 
        <a href="{{element.attributes.imageUrl}} " target="_blank">
            <img data-ng-src="{{element.attributes.imageUrl}}" alt="{{ element.title }}" title="{{ element.title }}"></img>
        </a> 
    </div>

    <div data-ng-bind-html="element.attributes.imageComment" class="comment"></div>
    
    <div class="infos">
        <span data-ng-class="{ 'picto-important' : ( element.attributes.imageImportant === 'true') }" title="Important"></span>
        <span data-ng-class="{ 'picto-hec' : ( element.attributes.imageDiffusion === 'hec' ), 'picto-public' : ( element.attributes.imageDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span data-ng-class="{ 'picto-hidden' : ( element.attributes.imageHidden === 'true') }" title="Visible"></span>     
    </div> 

</div>