<div class="element-common-attributes"> 
	<!-- Dynamic attributes -->
	<div ng-show="!noimportant"> 
		<input type="checkbox" name="important" id="importantCheckbox" data-ng-model="element.important"/>
		<label for="importantCheckbox">{{ 'FORM_IMPORTANT' | translate }}</label> 
	</div>

	<div ng-show="!novisible">
		<input type="checkbox" name="visibility" id="visibilityCheckbox" data-ng-model="element.publicElement" ng-true-value="false" ng-false-value="true"/>
		<label for="visibilityCheckbox">{{ 'FORM_VISIBILITY' | translate }}</label> 
	</div>

	<div ng-show="!nodate">
		<input id="radioNoDate" type="radio" name="display" class="radio-date" data-ng-model="element.hasDatesInterval" data-ng-value="false" /> <label for="radioNoDate">{{ 'FORM_DISPLAY_DEFAULT' | translate  }}</label>
	</div>

	<div ng-show="!nodate">
		<input id="radioDates" type="radio" name="display" class="radio-date" data-ng-model="element.hasDatesInterval" data-ng-value="true" /> <label for="radioDates">{{ 'FORM_DISPLAY_INTERVAL' | translate  }}</label>
	</div>

	<div data-ng-show="(element.hasDatesInterval === true)" class="group-dates">
		<div class="date-start">
			<span class="label-date-start">{{ 'FORM_DATE_DISPLAY_START' | translate }} : <span class="mandatory"></span> </span>
			
			<span class="container-date-start">
				<p class="input-group">
					<input type="text" class="form-control" datetime-picker="{{ 'DATE_TIME_FORMAT' | translate }}" data-ng-model="element.availabilityStartDate " is-open="status.opened" today-text="{{ 'CALENDAR_TODAY' | translate }}" now-text="{{ 'CALENDAR_NOW' | translate }}" date-text="{{ 'CALENDAR_DATE' | translate }}" time-text="{{ 'CALENDAR_TIME' | translate }}" clear-text="{{ 'CALENDAR_CLEAR' | translate }}" close-text="{{ 'CALENDAR_CLOSE' | translate }}" options="constants.datepickerOptions" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-date" data-ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar" ></i>
						</button>
					</span>
				</p>
			</span>
		</div>

		<div class="date-end">
			<input type="checkbox" name="displayEnd" id="displayEndCheckbox" data-ng-model="element.hasEndDate" data-ng-click="updateDateEnd($event)"/>
			<label for="displayEndCheckbox">{{ 'FORM_DATE_DISPLAY_END' | translate }} : </label> 
			
			<span class="container-date-end">
				<p class="input-group">
					<input id="input-date-end" type="text" class="form-control" datetime-picker="{{ 'DATE_TIME_FORMAT' | translate }}" data-ng-model="element.availabilityEndDate" is-open="statusEnd.opened" data-ng-disabled="!element.hasEndDate" today-text="{{ 'CALENDAR_TODAY' | translate }}" now-text="{{ 'CALENDAR_NOW' | translate }}" date-text="{{ 'CALENDAR_DATE' | translate }}" time-text="{{ 'CALENDAR_TIME' | translate }}" clear-text="{{ 'CALENDAR_CLEAR' | translate }}" close-text="{{ 'CALENDAR_CLOSE' | translate }}" show-weeks="false" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-date" data-ng-click="openEnd($event)" data-ng-disabled="!element.hasEndDate">
							<i class="glyphicon glyphicon-calendar" ></i>
						</button>
					</span>
				</p>
			</span>
		</div>
	</div>

	<div>
		<input type="checkbox" name="optional" id="optionalCheckbox" data-ng-model="element.optional" data-ng-disabled="element.id > 0" />
		<label for="optionalCheckbox">{{ 'FORM_OPTIONAL_CHECKBOX' | translate }}</label> 
	</div>

	<!-- Resource attributes -->
	<div class="readonly-attrs" ng-if="!!resource">
		<div><strong>{{ 'DATA_MODIFIABLE_IN_RESOURCES' | translate }}</strong></div>

		<div ng-if="!nocopyright">
			<h1>{{nocopyright}}</h1>
			<span class="attr">{{ 'COPYRIGHT_STATUS' | translate }}:</span>
			<span ng-if="!!resource">{{ (resource.copyright ? 'COPYRIGHT_I_HOLD' : 'COPYRIGHT_UNDEFINED') | translate }}</span>
		</div>

		<div>
			<span class="attr">{{ 'VISIBILITY' | translate }}:</span> 
			<span ng-if="!!resource">{{ (resource.publicAccess ? 'VISIBILITY_PUBLIC' : 'VISIBILITY_STUDENTS') | translate }}</span>
		</div>
		
		<div ng-if="!!resource.release">
			<span class="attr">{{ 'FORM_DATE_DISPLAY_START' | translate }}:</span> {{resource.release.display}}
		</div>
		
		<div ng-if="!!resource.retract">
			<span class="attr">{{ 'FORM_DATE_DISPLAY_END' | translate }}:</span> {{resource.retract.display}}
		</div>
	</div>
</div>
