<div class="element-form form-hyperlink"> 

    <!-- URL -->
    <div>
        <label for="male" class="label-text-url">{{ 'FORM_URL' | translate }} <span class="mandatory"></label>
        <input type="text" name="hyperlink" data-ng-model="element.attributes.hyperlinkUrl" class="input-text-title" required/>
    </div>

    <!-- Titre -->
    <div class="container-title">
        <label for="male" class="label-text-title">{{ 'FORM_TITRE' | translate }}</span></label>
        <input type="text" name="title" data-ng-model="element.title" class="input-text-title" placeholder="{{element.attributes.hyperlinkUrl}}" />
    </div>

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description" required></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>