<div class="element-form form-contact"> 
    
    <div class="container-contact">
        <div class="row row-content">
            <!-- First Name -->
            <div class="col-md-2">
                <label for="prenom">
                    {{ 'FORM_DOCUMENT_PRENOM' | translate }} <span class="mandatory"></span> 
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="prenom" id="prenom" data-ng-model="element.attributes.contactInfoFirstName" required />
            </div>

            <!-- Name -->
             <div class="col-md-2">
                <label for="nom">
                    {{ 'FORM_DOCUMENT_NOM' | translate }} <span class="mandatory"></span> 
                </label>
            </div>
            <div class="col-md-4">       
                <input type="text" name="nom" id="nom" data-ng-model="element.attributes.contactInfoLastName" required />
            </div>
        </div>

        
        <div class="row row-content">
            <!-- Title -->
            <div class="col-md-2">
                <label for="select-titre">
                    {{ 'FORM_DOCUMENT_TITRE' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <select name="select-titre" id="select-titre" class="select-titre"
                  ng-options="option.name for option in data.availableOptions track by option.id"
                  ng-model="data.selectedOption" data-ng-click="selectedTitle(data.selectedOption)"></select>
            </div>
        </div>

        <div class="row row-content">
            <!-- Telephone Number -->
            <div class="col-md-2">
                <label for="telephone">
                    {{ 'FORM_DOCUMENT_TELEPHONE' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="telephone" id="telephone" data-ng-model="element.attributes.contactInfoTelephone" />
            </div>
            <!-- Email -->
            <div class="col-md-2">
                <label for="courriel">
                    {{ 'FORM_DOCUMENT_COURRIEL' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="courriel" id="courriel" data-ng-model="element.attributes.contactInfoEmail" />
            </div>
        </div>

        <div class="row row-content">
            <!-- Office Room -->
            <div class="col-md-2">
                <label for="bureau">
                    {{ 'FORM_DOCUMENT_BUREAU' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="bureau" id="bureau" data-ng-model="element.attributes.contactInfoOfficeRoom" />
            </div>
        </div>
    </div>

    <!-- Availability -->
    <div class="label-text-availability">{{ 'FORM_DOCUMENT_DISPONIBILITES' | translate }}</div>
    <textarea id="availability-textarea" cols="30" rows="10" ckeditor="editorOptionsDisponibilite" data-ng-model="element.attributes.contactInfoAvailability"></textarea>

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="description-textarea" cols="30" rows="10" ckeditor="editorOptionsCommentaire" data-ng-model="element.description"></textarea>
</div>