<div class="element-form form-contact"> 
    
    <div class="container-contact">
        <div class="row row-content">
            <!-- Prénom -->
            <div class="col-md-2">
                <label for="prenom">
                    {{ 'FORM_DOCUMENT_PRENOM' | translate }} <span class="mandatory"></span> 
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="prenom" id="prenom" data-ng-model="element.attributes.contactFirstName" required />
            </div>

            <!-- Nom -->
             <div class="col-md-2">
                <label for="nom">
                    {{ 'FORM_DOCUMENT_NOM' | translate }} <span class="mandatory"></span> 
                </label>
            </div>
            <div class="col-md-4">       
                <input type="text" name="nom" id="nom" data-ng-model="element.attributes.contactLastName" required />
            </div>
        </div>

        
        <div class="row row-content">
            <!-- Titre -->
            <div class="col-md-2">
                <label for="select-titre">
                    {{ 'FORM_DOCUMENT_TITRE' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <select name="select-titre" id="select-titre" class="select-titre"
                  ng-options="option.name for option in data.availableOptions track by option.id"
                  ng-model="data.selectedOption"></select>
            </div>
        </div>

        <div class="row row-content">
            <!-- Téléphone -->
            <div class="col-md-2">
                <label for="telephone">
                    {{ 'FORM_DOCUMENT_TELEPHONE' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="telephone" id="telephone" data-ng-model="element.attributes.contactTelephone" />
            </div>
            <!-- Courriel -->
            <div class="col-md-2">
                <label for="courriel">
                    {{ 'FORM_DOCUMENT_COURRIEL' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="courriel" id="courriel" data-ng-model="element.attributes.contactEmail" />
            </div>
        </div>

        <div class="row row-content">
            <!-- Bureau -->
            <div class="col-md-2">
                <label for="bureau">
                    {{ 'FORM_DOCUMENT_BUREAU' | translate }}
                </label>
            </div>
            <div class="col-md-4">
                <input type="text" name="bureau" id="bureau" data-ng-model="element.attributes.contactBureau" />
            </div>
        </div>
    </div>

    <!-- Disponibilités -->
    <div class="label-text-description">{{ 'FORM_DOCUMENT_DISPONIBILITES' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptionsDisponibilite" data-ng-model="element.attributes.disponibilites" required></textarea>

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptionsCommentaire" data-ng-model="element.description" required></textarea>


</div>