.content-panel {
	.title {
		padding: 20px 0 0 0;

		.left {
			float: left;
		}

		.right {
			text-align: right;
		}
	}

	.title::after {
		content: '';
		display: block;
		clear: both;
	}

	.list-menu-add {
		right: 0;
		left: auto;
		min-width: initial;
	}

	.listing {
		padding: 0;
	}

	.item-panel-composite {
		background-color: $color-composite-title;
		color: $font-color-composite-title;
		padding: 10px 0 10px 12px;
		font-family: $font-family-title;
		font-weight: normal;
		font-size: 1.5em;
		text-transform: uppercase;
	}

	.content-padding {
		height: 300px;
	}

	.list-element {
		padding: 0 0 10px 0px;
	}

	.syllabus-text {
		font-size: 1.2em;
	}

	.element-host {
		margin-bottom: 10px;
	}

	.element-host.no-buttons {
		margin: 20px 0 20px 0;
	}

	.element-wrapper.important {
		border: 1px solid $border-color-important-element;
		border-width: 1px 1px 1px 8px;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 10px;
	}

	.element-wrapper.not-published {
		opacity: 0.5;
	}

	.important-notice {
		color: $border-color-important-element;
		padding: 3px;
	}

	.not-published-notice {
		padding-bottom: 5px;
	}

	.not-published-notice h3 {
		display: inline-block;
		border: 1px solid $font-color-not-published-element-notice;
		color: $font-color-not-published-element-notice;
		padding: 3px 3px 0 3px;
	}
}
