.content-panel {
    // border-left: 2px solid #ccc;
    min-height: 650px;

    .content-panel-section {
        padding: 20px;   
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px #ccc;
    }
}


.liste-element {
    > li {
        margin-bottom: 10px;
        // border-top: 1px solid #ccc;
    }
}

.liste-element-feuille {
    > li {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }
    }
}

.element-page {
    padding: 10px;
}

.item-panel-composite {
    // margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
}

.container-menu-ajout {
    float: right;
}


.menu-ajout {
    width: 150px;
    left: -50px;
    min-width: initial;
}

@media(max-width: 767px) {

    .content-panel { 
        .content-panel-section {
            padding: 0;   
            border: none;
            box-shadow: none;
        }
    }
        
    ol.liste-element.ng-pristine.ng-untouched.ng-valid.ng-scope.angular-ui-tree-nodes {
        padding-left: 0;
    }

}



@media (min-height: 700px) {

    .content-panel {
        // color: $bleu-hec;

        .content-panel-section {
            min-height: 600px;
        }

    }
}

@media (max-height: 699px) {

    .content-panel {
        // color: $bleu-hec;

        .content-panel-section {
            min-height: 400px;
        }

    }
}