<section class="content-panel" data-ng-controller="ContentPanelCtrl">
	<div class="title">
		<div class="left">
			<h2>
				{{treeService.selectedElement.title}}
				<span data-ng-if="treeService.selectedElement.type == 'evaluation'"> ({{treeService.selectedElement.attributes.evaluationWeight}}%)</span>
				<span data-ng-if="treeService.selectedElement.type == 'exam'"> ({{treeService.selectedElement.attributes.examWeight}}%)</span>
			</h2>

			<div data-ng-if="treeService.selectedElement.description && treeService.selectedElement.description.length > 0" class="description syllabus-text">
				<div data-ng-bind-html="treeService.selectedElement.description"></div>
			</div>
		</div>

		<div class="right">
			<add-element-menu id="menu-add" data-add-element-menu="treeService.selectedElement" class="container-menu-add"></add-element-menu>
		</div>
	</div>

	<div data-ng-if="treeService.selectedElement.type == 'evaluation'">
		<div class="item-panel-composite details">
			{{ 'DETAILS' | translate }}
		</div>

		<div class="syllabus-text">
			<evaluationattr-element data-evaluationattr-element="treeService.selectedElement"></evaluationattr-element>
		</div>
	</div>

	<div data-ng-if="treeService.selectedElement.type == 'exam'">
		<div class="item-panel-composite details">
			{{ 'DETAILS' | translate }}
		</div>

		<div class="syllabus-text">
			<examattr-element data-examattr-element="treeService.selectedElement"></examattr-element>
		</div>
	</div>

	<div ui-tree="treeOptions" data-drag-enabled="true" data-ng-model="treeService.selectedElement">
		<ol ui-tree-nodes="" ng-model="treeService.selectedElement.elements" class="list-element">
			<li ng-repeat="item in treeService.selectedElement.elements"  ui-tree-node class="panel-element">
				<element-render data-element="item" data-index="$index"></element-render>

				<ol class="listing" ui-tree-nodes="" data-ng-model="item.elements" class="list-element list-element-leaf" data-ng-class="{hidden: collapsed}" data-ng-if="item.type === 'composite' || item.type === 'rubric'" >
					<li data-ng-repeat="item in item.elements" data-nodrag="{{!userService.canEditElement(item, syllabusService.syllabus)}}" ui-tree-node ui-tree-handle>
						<element-render data-element="item" data-index="$index"></element-render>
					</li>
				</ol>
			</li>
		</ol>
	</div>

	<div class="content-padding"></div>
</section>
