
<section class="content-panel-section" data-ng-controller='ContentPanelCtrl'>

    <!-- Menu ajout -->
    <div data-ng-if="variables.mode === 'edition'">
        <div id="menu-ajout" data-add-element-menu="treeService.selectedItem"  class="container-menu-ajout"></div> 
    </div>

    <!-- Titre -->
    <div class='titre' > 
        {{treeService.selectedItem.title}}
        <span data-ng-if="treeService.selectedItem.type == 'evaluation'"> ({{treeService.selectedItem.attributes.evalWeight}}%)</span>
    </div> 
    <div data-ng-if="treeService.selectedItem.type == 'evaluation'"> <div data-evaluationattr-element="treeService.selectedItem"></div></div>


    <!-- <div ui-tree data-drag-enabled="true"> -->
    <div ui-tree="treeOptions" data-drag-enabled="!syllabusService.working" data-ng-model="treeService.selectedItem">
      <ol ui-tree-nodes="" ng-model="treeService.selectedItem.elements" class="liste-element">
        <li ng-repeat="item in treeService.selectedItem.elements" ui-tree-node >
            
            <!-- Page et Feuille -->
            <div data-content-panel-directive="item" index="$index"></div>

            <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-class="{hidden: collapsed, 'liste-element': true}" data-ng-if="item.type === 'composite' || item.type === 'rubric'" >
                <li data-ng-repeat="item in item.elements" ui-tree-node>
           
                    <div data-content-panel-directive="item" index="$index"></div>
                </li>
            </ol>

        </li>          
      </ol>

    </div> 

    
</section>
