<div class="element tool-form">

    <!-- Tool <-->
    <label class="label-text-title">{{ 'SAKAI_TOOL_BROWSER_TITRE' | translate }} : <span class="mandatory"></span></span>  
    </label>
    
    <div data-browser-element-form="element" data-type="sakai_entity"></div>
 
    <!-- Titre -->
    <label class="label-text-title">{{ 'FORM_TITRE' | translate }}</label>
    <input type="text" name="title" placeholder="{{element.$selectedResource.name}}" data-ng-model="element.title" class="input-text-title" />
  
    <!-- Description  --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div> 
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>
</div>