<span><div class= "">{{ 'PUBLISH_STATE_TITLE' | translate }}</div></span>
<p class="underline"/>
<span><div class= "publish-result">{{ 'PUBLISH_SUCCESS' | translate }}</div></span>
<div class= "">{{ 'PUBLISH_ANNOUNCEMENT_INFO' | translate }}</div>
<div class= "">{{ 'PUBLISH_ANNOUNCEMENT_TITLE' | translate }}</div>
<div class= ""></div>
<div class= "">{{ 'PUBLISH_ANNOUNCEMENT_MESSAGE' | translate }}</div>
<div class= ""></div>
<p class= "group-publish-cancel">
    <button class="btn" data-ng-click="closeThisDialog()">{{ 'BUTTON_OK' | translate }}</button>
</p>
