<div>
	<div >{{ 'PUBLISH_STATE_TITLE' | translate }}</div>
	<p class="underline"/>
	<div data-ng-if="ngDialogData.published">
		<div class= "publish-result">{{ 'PUBLISH_SUCCESS' | translate }}</div>
		<div class="publish-checkbox">
			<input type="checkbox" data-ng-model="announcement" data-ng-change="openAnnouncement(announcement)" >{{ 'PUBLISH_ANNOUNCEMENT' | translate }}</input>
		</div>
	</div>
	<div data-ng-if="!ngDialogData.published">
		<div class= "publish-result">{{ 'PUBLISH_FAILURE' | translate }}</div>
	</div>
	<div data-ng-show="announcement">
		<div >{{ 'PUBLISH_ANNOUNCEMENT_INFO' | translate }}</div>
		<div >{{ 'PUBLISH_ANNOUNCEMENT_TITLE' | translate }}</div>
		<input type="text" id= "announcement-title" data-ng-model="announcementTitle" />
		<div >{{ 'PUBLISH_ANNOUNCEMENT_MESSAGE' | translate }}</div>
			<textarea cols="30" rows="10" id= "announcement-message" data-ng-model="announcementMessage" ></textarea>	
		</div>
	</div>
	<p class= "group-publish-cancel">
	    <button class="btn" data-ng-click="closePublishDialog()">{{ 'BUTTON_OK' | translate }}</button>
	</p>
</div>

