
<link rel="stylesheet" href="/tenjin-tool/lib/css/bootstrap.css"/>

<div class="publish-dialog">
	<div class="publish-header">
	    {{ 'PUBLISH_TITLE_LABEL' | translate }} {{syllabus.title}}
	</div>
	<p class="underline"/>
	<div data-ng-if="publishService.isCommonSyllabusPublished()">
		<!-- Show last publication date -->
		<div  class="last-publish-date" data-ng-if="syllabus.publishedDate">
			{{ 'PUBLISH_LAST_PUBLISH_LABEL' | translate }} {{syllabus.publishedDate | date:'d MMMM y h:mm:ss a'}}
		</div>

		<!-- Show sections affected -->
		<div class="published-sections">
			{{ 'PUBLISH_MODIFIED_SECTIONS_LABEL' | translate }} 
		</div>
		<ul  class="" >
		    <li class="published-section" data-ng-repeat="section in publishService.getSections()">
		        {{section}}
		    </li> 
		</ul>
		<div>
		
		<!--Show modified pages: We do not show the list of modifications if the course has never been published. 
			We might end up listong all the course outline.   -->
		<div data-ng-if="syllabus.publishedDate">
			<a data-ng-click="collapsed = !collapsed">
				<span class="glyphicon" data-ng-class="{
		          'glyphicon-chevron-right': collapsed,
		          'glyphicon-chevron-down': !collapsed}">
		        </span>
		       {{'PUBLISH_MODIFIED_PAGES_LABEL' | translate }} 
		    </a>
			<div class= "modified-pages"
	            <div ui-tree id="tree-root" data-ng-show="!collapsed">
	                <ol ui-tree-nodes="" ng-model="ngDialogData.changedSyllabusPages">
	                    <li ng-repeat="node in ngDialogData.changedSyllabusPages" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	                </ol>
	            </div>
	        </div>
	    </div>


	</div>
	<!-- Show a message to let user know he must publish the common -->
	<div data-ng-if="!publishService.isCommonSyllabusPublished()">
			{{ 'PUBLISH_CHECK_COMMON' | translate }}
	</div>
	<div class= "group-publish-cancel">
	    <button class="btn " data-ng-click="closeThisDialog()">{{ 'PUBLISH_CANCEL_BUTTON_LABEL' | translate }}</button>
	    <button class="btn " data-ng-if="publishService.isCommonSyllabusPublished()" data-ng-click="publish()">{{ 'BUTTON_PUBLISH' | translate }}</button>
	</div>

	
</div>


 <script type="text/ng-template" id="nodes_renderer.html">
    <div class="tree-node tree-node-content">
        {{node.title}}
    </div>
    <ol ui-tree-nodes="" ng-model="node.elements">
        <li ng-repeat="node in node.elements" ui-tree-node data-nodrag  data-nodrop data-ng-if="node.elements && node.type !== 'composite'" ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
