.publish-dialog{
	height: 400;
	width: 600;

}
.publish-header{
	position: relative;
}

.underline{
	border-bottom: solid;
    border-width: thin;
}

.published-sections{

}

.last-publish-date{

}

.publish-result{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}


.group-publish-cancel{
	position: absolute;
    bottom: 8px;
    right: 16px;
}

.publishing-loader-container{
	width: 100px;
    height: 80px;
    line-height: 35px;
    position: fixed;
    background-color: #fff;
    bottom: -40px;
    right: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    // transition: all .3s ease-in-out;
    text-align: center;
    border: 1px solid #777;
    border-bottom: 0;

    &.show {
        // transition: all .3s ease-in-out;
        bottom: 0;
    }

}
