.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 600px;
    height: 500px;
}

.publish-dialog{

}

.publish-header {
	position: relative;
}

.underline{
	border-bottom: solid;
    border-width: thin;
}

.published-sections .modified-pages{
    margin-top: 30px;
}

.last-publish-date{
    margin-top: 30px;
    margin-bottom: 30px;
}

.publish-result{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.group-publish-cancel{
	position: absolute;
    bottom: 8px;
    right: 16px;
}

.publish-checkbox{
    margin-bottom: 30px;
}

#announcement-message{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.announcement{
    display: block;
}
#announcement-title{
    width: 100%;
}

.publishing-loader-container{
	width: 100%;
    height: 100%;
    top: 30%;
    left: 30%;
    position: absolute;
    background: url('/tenjin-tool/img/desktop/loader.gif') no-repeat;

    &.show {
        // transition: all .3s ease-in-out;
        bottom: 0;
    }

}
