.publish-dialog{
	height: 400;
	width: 600;

}
.publish-header{
	position: relative;
}

.underline{
	border-bottom: solid;
    border-width: thin;
}

.published-sections{

}

.last-publish-date{

}

.group-publish-cancel{
	position: absolute;
    bottom: 8px;
    right: 16px;
}