<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{courseInfo.title}} - {{courseInfo.number}}</title>
		
		{{#if-eq mode 'pdf'}}
			<style type="text/css">
				{{> css/pdf.css}}
			</style>
		{{/if-eq}}

		{{#if-eq mode 'html'}}
			<style type="text/css">
				{{> css/html.css}}
			</style>

			<script id="jquery">
				{{> js/lib/jquery-3.2.1.min.js}}
			</script>

			<script>
				{{> js/syllabus.js}}
			</script>
		{{/if-eq}}
	</head>
	
	<body class="mode-{{mode}}">
		<div id="header">
			<div id="logo">
				<img src="data:{{logo.contentType}};base64,{{logo.bytesB64}}" alt=""></img>
			</div>

			<div id="course-title">
				{{courseInfo.title}} - {{courseInfo.number}}
			</div>

			<div id="course-info">
				<div id="term">
					{{courseInfo.term}}
				</div>

				<div id="sections">
					{{courseInfo.sections}}
				</div>

				<div style="clear: both"></div>
			</div>
		</div>

		<div id="content">
			{{#if-eq mode 'html'}}
				{{> navigation.html}}
			{{/if-eq}}

			<div id="elements">
				<ul class="root">
					{{#each elements}}
						<li class="element">
							{{> elements/element.html}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</body>
</html>
