.check-annotations-summary {
	font-size: 1.5em;

	ul {
		list-style: none;
	}

	.check {
		float: left;
		padding-right: 10px;
	}

	.render {
		float: left;
		padding-top: 5px;
	}

	.line:after {
		content: "";
		clear: both;
		display: table;
	}
}
