.element {

    .titre-element {
        font-weight: bold;
    }


    .infos {
        margin: 5px 0;
    }

    img {
        max-height: 100px;
    }
    

    .video {
        width: 300px;
    }

    // Boutons edition et suppression
    .buttons-elements {
        float: right;
        
        .picto-edit {
            margin-right: 10px;
        }

        .picto-delete {

        }
    }



}