.element {
    padding: 10px;
    
    .titre-element {
        font-size: 16px;
        margin-bottom: 10px;
    }


    .infos {
        margin: 5px 0;
    }

    // élément image
    img {
        max-height: 100px;
    }
    
    // élément video
    .video {
        width: 300px;
    }

    // contact info
    .contact-firstname,
    .contact-lastname {
        color: #444;
        font-size: 16px;
        // font-weight: bold;
        padding: 1px 0 0;
    }

    .contact-lastname {
        margin-left: 5px;
        text-transform: uppercase;
    }

    .contact-title,
    .contact-email,
    .contact-tel,
    .contact-officeroom {
        // font-size: 11px;
        // margin-left: 5px;
        padding: 0 0 2px;
    }
 
    .url-lien {
        font-weight: normal;
        color: #777;
    }
}


// Boutons edition et suppression
.buttons-elements {
    float: right;
    margin-left: 10px;
    
    .picto-edit {
        margin-right: 10px;
    }

    .picto-delete {

    }
}

.link-description {
    text-decoration: underline;
}