.mobile-menu {
    // color: $bleu-hec;
    padding: 0 25px;

    .glyphicon {
        top: 0;
    }

    .item-selected {
        background-color: $item-selected;
    }

    .item-composite {
        font-weight: bold;
    }

    .item-noncomposite {
        color: #07c;
    }

    .select-item {
        display: inline-block;
        padding: 5px 5px;
        cursor: pointer;
        width: 100%;
    }

    .angular-ui-tree-nodes {
        transition: all 0.25s ease-in;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        height: auto;
        opacity: 1;
        // max-height: 200px;
        
        .angular-ui-tree-nodes {
            padding-left: 0;
        }
    }

    .hidden {
        transition: all 0s ease-in;
        display: block !important;
        height: 0;
        opacity: 0;
        max-height: 0;
        visibility: hidden !important;
    }

    .back-button {
        padding: 5px 5px; 
    }
}