.mobile-menu {
    // color: $bleu-hec;
    padding: 0;
    margin-top: 10px;
    // background-color: #333;
    background-color: #286090;
    color: #fff;
    // font-size: 16px;
    // font-family: 'Helvetica Condensed Regular','Helvetica Neue',Arial,sans-serif;
    font-weight: normal;

    .glyphicon {
        top: 0;
    }

    .item-selected {
        color: #333;
    }

    .item-composite {
        font-weight: bold;
    }

    .item-noncomposite {
        color: #07c;
    }

    .select-item {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        width: 100%;
    }

    .angular-ui-tree-nodes {
        transition: all 0.25s ease-in;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        height: auto;
        opacity: 1;
        // max-height: 200px;
        
        .angular-ui-tree-nodes {
            padding-left: 0;
        }
    }

    .hidden {
        transition: all 0s ease-in;
        display: block !important;
        height: 0;
        opacity: 0;
        max-height: 0;
        visibility: hidden !important;
    }

    .back-button {
        cursor: pointer;
        padding: 10px;
    }
}
