<script type="text/ng-template" id="nodes_renderer_mobile.html">

  <!-- Display items composite, evaluation, lecture and tutorial -->
  <span data-ng-if="item.type === 'composite' || item.type === 'evaluation' || item.type === 'lecture' || item.type === 'tutorial'">
    <span data-ng-click="menuMobileCtrl.navigate(this, item)" class="select-item" data-ng-hide="item.$hidden" data-ng-class="{'item-selected': item.$selected, 'item-composite': item.type === 'composite' }" >
      <span data-ng-if="item.type === 'evaluation'">{{$index+1}} - </span>
      <span data-ng-if="item.type === 'lecture' || item.type === 'tutorial'">{{item.$numero}} - </span>
      <!-- <span data-ng-if="item.parentId === null">{{::item.title}}</span> 
      <span data-ng-if="item.parentId">{{item.title}}</span> -->
      {{item.title}}
      <span ui-tree-handle class="tree-node tree-node-content picto-move" data-ng-if="menuMobileCtrl.variables.mode === 'edition' && item.parentId"></span>
    </span>

  <!-- <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-class="{hidden: collapsed}" data-ng-if="item.elements && item.elements.length > 0 && item.elements[0].displayPage"> -->
  <ol ui-tree-nodes=""  data-ng-model="item.elements" data-ng-if="item.type === 'composite'">
    <li data-ng-repeat="item in item.elements" ui-tree-node data-ng-include="'nodes_renderer_mobile.html'">
    </li>
  </ol>
 
</script>


<section class="mobile-menu">  
    <!-- <div ui-tree data-drag-enabled="true"> -->
    <!-- <div ui-tree="treeOptions" data-drag-enabled="false"> -->
    <!-- {{ menuMobileCtrl.syllabusService.navigation.level }} -->
    <div data-ng-show="menuMobileCtrl.showBackButton" class="back-button" data-ng-click="menuMobileCtrl.back()">
    {{ 'MOBILE_MENU_BACK' | translate }}
    </div>
    <div ui-tree="treeOptions" data-drag-enabled="false">

      <ol ui-tree-nodes="" data-ng-model="menuMobileCtrl.syllabusService.syllabus.elements">
        <li data-ng-repeat="item in menuMobileCtrl.syllabusService.syllabus.elements" ui-tree-node ng-include="'nodes_renderer_mobile.html'"></li>          
      </ol>

    </div>


</section>