<form class="tenjin-modal" data-ng-submit="ok()"> 
	<div class="modal-header">
		<h2>{{ 'MODAL_DESCRIPTION_IMPORT_SYLLABUS' | translate}}</h2> 
	</div>

	<div class="modal-body"  data-ng-if="!loading">
		<div data-ng-if="!confirm">
			<div class="import-instructions">
				{{ 'FORM_IMPORT_INSTRUCTIONS' | translate }}
				<br/><br/>
				<b>{{ 'FORM_IMPORT_WARNING' | translate }}</b>
				<br/><br/>
			</div>
			<label for="siteId">
				{{ 'FORM_IMPORT_SITEID' | translate }} <span class="mandatory"></span> 
			</label>
			<input type="text" name="siteId" id="siteId" placeholder="{{ 'FORM_IMPORT_SITEID_PLACEHOLDER' | translate }}" data-ng-model="data.siteId" required />
		</div>
		<div data-ng-if="confirm">
			{{ 'FORM_IMPORT_CONFIRM' | translate }}
		</div>
	</div>

	<div class="modal-body" data-ng-if="loading">
		<div class="loader">
			<img src="/tenjin-tool/img/desktop/loader.gif">
		</div>
	</div>

	<div class="modal-footer" ng-if="!loading">
		<button type="submit">{{ 'BUTTON_OK' | translate}}</button> 
		<button type="button" ng-click="cancel()">{{ 'BUTTON_CANCEL' | translate}}</button>
	</div> 
</form>
