.management {
   
    table {
        width: 700px;
        margin-top: 20px;
        border: 1px solid #777;

        th {
            background-color: #ccc;

            &.th-select {
                width: 34px;
            }
        }

        th, td {
            position: relative;
            padding: 5px 10px;
            border-left: 1px solid #777;
            border-right: 1px solid #777;
        }

        input, a {
            cursor: pointer;
        }          
    }

    .button-container-delete {
        width: 700px;
        margin-top: 20px;

        button {
            float: right;
        }
    }

}
