<div ng-controller="ResourceViewCtrl">
	<!-- this didn't work but we might need it for resource properties? https://stackoverflow.com/a/42775189
	<form ng-form-commit action="{{resourceUrl}}" method="post" target="resourceviewer" id="formid" name="formid">
    <input type="hidden" name="rt_action" value="{{rt_action}}" />
    <input type="hidden" name="selectedItemId" value="{{selectedItemId}}" />
    <input type="hidden" name="sakai_action" value="{{sakai_action}}" />
	<input type="hidden" name="panel" value="Main" />
	</form>
    -->
	<a ui-sref="management">Go back</a> <!-- TODO: i18n -->
	<iframe id="resourceviewer" name="resourceviewer" src="{{resourcesUrl}}"></iframe>
</div>
