.reference {
    .reference-boldTitle {
            font-weight: bold;
            font-style: italic;
    }

    .reference-italicTitle {
            font-style: italic;
    }

    .library-link .other-link {
           // font-style: italic;
    }

    .reference-type {
        font-weight: bold;
    }
}
