.reference {
	.reference-boldTitle {
		font-weight: bold;
		font-style: italic;
	}

	.reference-italicTitle {
		font-style: italic;
	}

	.library-link .other-link {

	}

	.reference-type {
		font-weight: bold;
	}

	.description {
		padding-top: 10px;
	}
}
