<div class="element reference syllabus-text">
	<div >
		<div data-ng-if=" citation.citationType==='article'||citation.citationType==='unknown'">
			<span ng-repeat="author in citation.values.creator"> 
                {{author}}
            </span>
			<span data-ng-if="citation.values.year">{{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.title">{{::dot}} {{::leftAngleQuote}}{{citation.values.title}}{{::rightAngleQuote}}</span>	
			<span data-ng-if="citation.values.sourceTitle" class="reference-italicTitle">{{::comma}}{{citation.values.sourceTitle}}</span>			
			<span data-ng-if="citation.values.volume">{{::comma}} {{::volume}}{{citation.values.volume}}</span>
			<span data-ng-if="citation.values.issue">{{::comma}} {{::issue}} {{citation.values.issue}}</span>				
			<span data-ng-if="citation.values.section">{{::comma}} {{citation.values.section}}</span>
			<span data-ng-if="citation.values.pages">{{::comma}} {{::pages}} {{citation.values.pages}}</span>				
			<div data-ng-if="citation.values.isnIdentifier">{{'REF_BIBLIO_ISSN' | translate}} {{citation.values.isnIdentifier}}</div>				
			<div data-ng-if="citation.values.library && element.attributes.activateLibraryLink"><a target="_blank" data-nodrag href={{citation.values.library}}>{{'REF_BIBLIO_DISPONIBILITY' | translate}}</a></div>				
		</div>
		<div data-ng-if="citation.citationType==='book'">
			<span ng-repeat="author in citation.values.creator">
                {{author}}
            </span>
			<span data-ng-if="citation.values.year">{{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.title" class="reference-boldTitle">{{::dot}} {{citation.values.title}}</span>	
			<span data-ng-if="citation.values.edition">{{::comma}} {{citation.values.edition}} {{::edition}}</span>
			<span data-ng-if="citation.values.publisher">{{::comma}} {{citation.values.publisher}}</span>
			<span data-ng-if="citation.values.editor">{{::comma}} {{citation.values.editor}}</span>				
			<span data-ng-if="citation.values.pages">{{citation.values.pages}} {{::pages}}</span>		
			<div data-ng-if="citation.values.isnIdentifier">{{'REF_BIBLIO_ISSN' | translate}} {{citation.values.isnIdentifier}}</div>				
		</div>
		<div data-ng-if="citation.citationType==='bookSection'||citation.citationType==='chapter'">
			<span ng-repeat="author in citation.values.creator">
                {{author}}
            </span>
			<span data-ng-if="citation.values.year">{{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.sourceTitle">{{::dot}} {{::leftAngleQuote}} {{citation.values.sourceTitle}}{{::rightAngleQuote}}</span>	
			<span data-ng-if="citation.values.title" class="reference-boldTitle">{{::comma}} {{citation.values.title}}</span>	
			<span data-ng-if="citation.values.volume">{{::comma}} {{::volume}}{{citation.values.volume}}</span>
            <span data-ng-if="citation.values.publicationLocation">{{::comma}}{{citation.values.publicationLocation}}</span>
            <span data-ng-if="citation.values.publisher">{{::comma}} {{citation.values.publisher}}</span>
			<span data-ng-if="citation.values.editor">{{::comma}} {{citation.values.editor}}</span>				
			<span data-ng-if="citation.values.pages">{{::comma}} {{::pages}} {{citation.values.startPage}} - {{citation.values.endPage}}</span>										
			<div data-ng-if="citation.values.isnIdentifier">{{'REF_BIBLIO_ISBN' | translate}} {{citation.values.isnIdentifier}}</div>				
			<div data-ng-if="citation.values.url"><a target="_blank" data-nodrag href={{citation.values.url}}>{{citation.values.url}}</a></div>				
		</div>
		<div data-ng-if="citation.citationType==='webPage'||citation.citationType==='electronic'">
			<span ng-repeat="author in citation.values.creator">
                {{author}}
            </span>
			<span data-ng-if="citation.values.year">{{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.title" class="reference-boldTitle">{{::dot}} {{citation.values.title}}</span>			
			<span data-ng-if="citation.values.siteTitle">{{::comma}} {{citation.values.siteTitle}}</span>	
			<span data-ng-if="citation.values.date" >{{::dot}} {{'REF_BIBLIO_FROM' | translate}} {{citation.values.date}}</span>
			<span data-ng-if="citation.values.url">{{'REF_BIBLIO_FROM2' | translate}}  {{citation.values.url}}</span>
		</div>
		<div data-ng-if="citation.citationType==='proceed'">
			<span ng-repeat="author in citation.values.creator">
                {{author}}
            </span>
			<span data-ng-if="citation.values.year">{{::dot}} {{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.title">{{::dot}} {{::leftAngleQuote}}{{citation.values.title}}{{::rightAngleQuote}}</span>
			<span data-ng-if="citation.values.sourceTitle"  class="reference-boldTitle">{{::comma}} {{citation.values.sourceTitle}}</span>				
		</div>
		<div data-ng-if="citation.citationType==='report' || citation.citationType==='thesis'">
			<span ng-repeat="author in citation.values.creator">
                {{author}}
            </span>
			<span data-ng-if="citation.values.year"> {{::openParenthesis}}{{citation.values.year}}{{::closeParenthesis}}</span>			
			<span data-ng-if="citation.values.title" class="reference-boldTitle">{{::dot}} {{citation.values.title}}</span>
			<span data-ng-if="citation.values.publicationLocation">{{::comma}} {{citation.values.publicationLocation}}</span>				
			<span data-ng-if="citation.values.publisher">{{::comma}} {{citation.values.publisher}}</span>				
			<span data-ng-if="citation.values.pages">{{citation.values.pages}} {{::pages}}</span>			
			<div data-ng-if="citation.values.isnIdentifier">{{'REF_BIBLIO_ISBN' | translate}} {{citation.values.isnIdentifier}}</div>				
			<div data-ng-if="citation.values.url"><a target="_blank" data-nodrag href={{citation.values.url}}>{{citation.values.url}}</a></div>				

		</div>
	</div>
	<div ng-if="citationTypeId !== -1" class="citation-type">[{{ citationType }}]</div> 
	
	<div ng-if="element.attributes.activateLibraryLink" class="library-link"> 
		<a target="_blank" data-nodrag href={{citation.values.primaryUrl}}>{{'REFERENCE_LIBRARY_LINK' | translate}}</a>
	</div> 

	<div ng-if="element.attributes.activateOtherLink" class="other-link"> 
		<a target="_blank" data-nodrag href="element.attributes.otherLinkurl">{{'REFERENCE_OTHER_LINK' | translate}}</a>
	</div> 

	<div ng-if="element.description" ng-bind-html="element.description" class="description"></div>
</div>
