.content-panel {
    border-left: 2px solid #ccc;

    .angular-ui-tree-empty {
        display: none;
    }

    .angular-ui-tree-handle {
        cursor: default;
    }

    .liste-element {
        > li {
            margin-bottom: 10px;
            padding: 10px 0;
            border-top: 2px solid #ccc;
            // border-radius:  5px;
        }
    }

}