// !important because sakai
.navigation {
	@include full-height;

	background-color: $color-navigation !important;

	.inner {
		min-height: 1000px;
	}

	.items {
		margin-top: 15px;
	}

	.title {
		padding-left: 20px;
		cursor: default;

		.title-text {
			float: left;
			padding: 20px 0 0 0;
		}

		.drawer {
			float: right;

			button {
				margin: 0;
			}
		}
	}

	.title:after {
		content: '';
		display: block;
		clear: both;
	}

	.menu-item {
		cursor: pointer;
		padding: 10px 10px 5px 20px;

		a {
			color: $font-color-navigation !important;
			font-family: $font-family-regular;
			font-weight: normal;
			font-size: 1.3em;
			display: block;
			width: 100%;
		}

		.number {
			float: left;
		}
	}

	.menu-item::after {
		content: '';
		display: block;
		clear: both;
	}

	.menu-item-selected {
		background-color: $color-navigation-active !important;

		a {
			color: $font-color-navigation-active !important;
		}
	}

	.menu-item-parent {
		a {
			color: $font-color-navigation-composite !important;
			font-weight: bold;
		}
	}

	.menu-item-parent.menu-item-selected {
		a {
			color: $font-color-navigation-active !important;
			font-weight: bold;
		}
	}

	.menu-item-toplevel {
		a {
			text-transform: uppercase;
			font-family: $font-family-title;
			font-weight: normal;
			font-size: 1.5em;
		}
	}
}
