// !important because sakai
.navigation {
	@include full-height;

	background-color: $color-navigation !important;

	.angular-ui-tree-nodes .angular-ui-tree-nodes {
		padding: 0!important;
	}

	.inner {
		padding: 20px 0 0 0;
		min-height: 1000px;
	}

	.items {
		margin-top: 15px;
	}

	.title {
		padding-left: 22px;
		cursor: default;
	}

	.menu-item {
		cursor: pointer;
		padding: 6px 10px 3px 40px;
	}

	.menu-item a {
		color: $font-color-navigation !important;
		font-family: $font-family-regular;
		font-weight: normal;
		font-size: 1.2em;
	}

	.menu-item-selected {
		background-color: $color-navigation-active !important;
	}

	.menu-item-selected a {
		color: $font-color-navigation-active !important;
	}

	.menu-item-parent a {
		color: $font-color-navigation-composite !important;
	}

	.menu-item-toplevel a {
		text-transform: uppercase;
		font-family: $font-family-title;
		font-weight: normal;
		font-size: 1.5em;
	}
}
