<!-- Node renderer -->
<script type="text/ng-template" id="node-renderer.html">
	<!-- Display items composite, evaluation, exam, lecture and tutorial -->
	<div data-ng-if="syllabusService.template[item.templateStructureId].displayInMenu" data-ng-class="['menu-item', {'item-selected': item.$selected, 'menu-item-selected': item.$selected, 'menu-item-parent': syllabusService.itemHasChildInMenu(item), 'menu-item-toplevel': !syllabusService.itemHasParentInMenu(item), 'menu-item-drop': acceptDrop === item.id, 'menu-item': acceptDrop !== item.id}]">
		<a tabindex="0" data-nodrag data-ng-click="treeService.selectElement(item)" data-ng-keyup="$event.keyCode == 13 && treeService.selectElement(item)" class="select-item" data-ng-class="{'item-selected': item.$selected, 'item-composite': item.type === 'composite' }">
			<div ng-class="{'numbered-title': isTitleNumbered(item.type)}" style=" display:inline-block;">
 			<table>
				<tr class="item-title">
                   <td style=" position: relative;  height: 100%;">
                       <i data-ng-if="isCheckIconVisible(item)" class="{{getCheckableLectureClass(item)}} check-status glyphicon">
                       </i>
                    </td>
                    <td>
                        <div data-ng-switch on="item.type" class="number" >
                            <div  data-ng-switch-when="exam">
                                {{ item.$numero }}&nbsp;-&nbsp;{{ item.title }}
                            </div>
                            <div data-ng-switch-when="evaluation">
                                {{ item.$numero }}&nbsp;-&nbsp;{{ item.title }}
                            </div>
                            <div data-ng-switch-when="tutorial">
                                {{ item.attributes.numero }}&nbsp;-&nbsp;{{ item.title }}
                            </div>
                            <div data-ng-switch-when="lecture">
                                {{ item.attributes.numero }}&nbsp;-&nbsp;{{ item.title }}
                            </div>
                            <div data-ng-switch-default >
                                {{ item.title }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </a>

		<!-- No drag and drop for the first level element -->
		<span class="tree-node tree-node-content" data-ng-if="!item.parentId"></span>
	</div>

	<ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-if="item.type === 'composite'">
		<li data-ng-repeat="item in item.elements" data-ng-if="syllabusService.template[item.templateStructureId].displayInMenu" ui-tree-node data-ng-include="'node-renderer.html'"></li>
	</ol>
</script>

<section class="navigation">
	<div class="inner">
		<div class="title">
			<div class="title-text">
				<h2>{{ 'MENU_LABEL' | translate }}</h2>
			</div>

			<div class="drawer">
				<button data-ng-click="toggleDrawer()" tabindex="-1"><span class="glyphicon glyphicon-chevron-left"></span></button>
			</div>
		</div>

		<div class="items" ui-tree="treeOptions" >
			<ol ui-tree-nodes="" ng-model="syllabusService.syllabus.elements" data-nodrop-enabled>
				<li data-ng-repeat="item in syllabusService.syllabus.elements" ui-tree-node data-nodrag="{{!syllabusService.canEditElement(item, syllabusService.syllabus)}}" ng-include="'node-renderer.html'"></li> 
			</ol>
		</div>
	</div>
</section>
