.left-menu {
    // color: $bleu-hec;

    .left-menu-section {
        // min-height: 800px;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px #ccc;
    }

    .glyphicon {
        top: 0;
    }

    .item-selected {
        background-color: $item-selected;
    }

    .item-composite {
        font-weight: bold;
    }

    .item-noncomposite {
        color: #07c;
    }

    .select-item {
        display: inline-block;
        padding: 0 5px;
        cursor: pointer;
    }

    .angular-ui-tree-nodes {
        transition: all 0.25s ease-in;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        height: auto;
        opacity: 1;
        // max-height: 200px;
    }

    .hidden {
        transition: all 0s ease-in;
        display: block !important;
        height: 0;
        opacity: 0;
        max-height: 0;
        visibility: hidden !important;
    }
}


@media (min-height: 700px) {

    .left-menu {
        // color: $bleu-hec;

        .left-menu-section {
            min-height: 600px;
        }

    }
}

@media (max-height: 699px) {

    .left-menu {
        // color: $bleu-hec;

        .left-menu-section {
            min-height: 400px;
        }

    }
}