<script type="text/ng-template" id="nodes_renderer.html">

  <!-- Display é à expand, collpase button only if there are elements -->
  <a class="btn btn-success btn-xs" data-ng-if="item.elements && item.elements.length > 0 && item.elements[0].displayPage" data-ng-click="toggleTree(this)"><span
    class="glyphicon"
    data-ng-class="{
      'glyphicon-chevron-right': collapsed,
      'glyphicon-chevron-down': !collapsed
    }"></span></a>

  <!-- Display items composite, evaluation, exam, lecture and tutorial -->
  <span data-ng-if="syllabusService.template[item.templateStructureId].displayInMenu">
    <span data-ng-click="treeService.setSelectedItem(item)" class="select-item" data-ng-class="{'item-selected': item.$selected, 'item-composite': item.type === 'composite' }" >
      <span data-ng-if="item.type === 'evaluation' || item.type ==='exam'">{{$index+1}} - </span>
      <span data-ng-if="item.type === 'lecture' || item.type === 'tutorial'">{{item.$numero}} - </span>
      <!-- <span data-ng-if="item.parentId === null">{{::item.title}}</span>
      <span data-ng-if="item.parentId">{{item.title}}</span> -->
      {{item.title}}
      <span ui-tree-handle class="tree-node tree-node-content picto-move" data-ng-if="syllabusService.syllabus.$writePermission && item.parentId"></span> 
    </span>

     <!-- Pas de drag and drop pour les éléments de premier niveau -->
    <span ui-tree-handle class="tree-node tree-node-content" data-ng-if="!item.parentId"></span>
  </span>

  <!-- <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-class="{hidden: collapsed}" data-ng-if="item.elements && item.elements.length > 0 && item.elements[0].displayPage"> -->
  <ol ui-tree-nodes="" data-ng-model="item.elements" data-ng-if="item.type === 'composite'">
    <li data-ng-repeat="item in item.elements" ui-tree-node data-ng-include="'nodes_renderer.html'">
    </li>
  </ol>

</script>


<section class="left-menu-section" data-ng-controller='LeftMenuCtrl'>  

    <div class='titre'>
      {{ 'MENU_LABEL' | translate }}
    </div>

    <!-- <div ui-tree data-drag-enabled="true"> -->
    <!-- <div ui-tree="treeOptions" data-drag-enabled="false"> -->
    <div ui-tree="treeOptions" data-drag-enabled="( syllabusService.syllabus.$writePermission && !syllabusService.working )">

      <ol ui-tree-nodes="" ng-model="syllabusService.syllabus.elements">
        <li ng-repeat="item in syllabusService.syllabus.elements" ui-tree-node ng-include="'nodes_renderer.html'"></li>          
      </ol>

    </div>


</section>