<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--  taken from example application tasklist at http://source.sakaiproject.org/contrib/programmerscafe/tags/sakai-2.2/tasklist/ -->

	<!-- Use the Sakai session factory, pre-configured, instead of a local one
	we are adding our HBM files to the Sakai session factory instead of creating
	our own copy of it -->
	<bean id="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl.Tenjin"
		class="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl">
		<property name="mappingResources">
			<list>
				<value>ca/hec/tenjin/api/hbm/syllabus/Syllabus.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/syllabus/AbstractSyllabusElement.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/syllabus/BasicElements.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/syllabus/CompositeElements.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/syllabus/SyllabusElementMapping.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/syllabus/published/PublishedSyllabus.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/template/Template.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/template/TemplateElement.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/template/TemplateStructure.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/template/TemplateElementType.hbm.xml</value>
				<value>ca/hec/tenjin/api/hbm/template/Provider.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="ca.hec.tenjin.api.dao.SyllabusDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">

		<property name="transactionManager"
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean
				class="ca.hec.tenjin.impl.dao.SyllabusDaoImpl">

				<property name="sessionFactory">
					<ref
						bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>

			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="ca.hec.tenjin.api.dao.PublishedSyllabusDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">

		<property name="transactionManager"
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean
				class="ca.hec.tenjin.impl.dao.PublishedSyllabusDaoImpl">

				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>

			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="ca.hec.tenjin.api.dao.TemplateDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean class="ca.hec.tenjin.impl.dao.TemplateDaoImpl">
				<property name="sessionFactory">
					<ref bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>
