.container-exam-form{

	
}

.exam-form-control {
    height: 28px;
}

.exam-form-date-group{
	display:inline-block;
	border-collapse:separate; 

}

.exam-doc-note {
 	margin: 1em 0;
}