.container-exam-form{

	
}

.exam-form-control {
    height: 28px;
}

.exam-form-date-group{
	display:inline-block;
	border-collapse:separate; 

}

.exam-doc-note {
 	margin-bottom: 1em;
	color: saddlebrown;
}

.exam-ai-option label {
	display: inline;
}