<div class="element-form"> 
  <div >
	<div class="row">
		<div class="col-md-4">
			<label for="examTitle" class="label-text-title">{{ 'EXAM_TITLE' | translate }}</label>
		</div>
		<div class="col-md-4" >
			<input type="text" name="examTitle" data-ng-model="element.title" class="input-text-title" />
		</div>
		<div class="col-md-4">  </div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_WEIGHT' | translate }}</label>
		</div>
		<div class="col-md-4">
			<input type="text" name="examWeight" data-ng-model="element.attributes.examWeight" />
		</div>
		<div class="col-md-4">% </div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_DATE' | translate }}</label>
		</div>
		<div class="col-md-4">
			<label class="label-text-value">{{ 'EXAM_DATE_VALUE' | translate }}</label>
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	 <div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_LOCATION' | translate }}</label>
		</div>
		<div class="col-md-4">
			<table>
				<tr>
					<td>
						<input type="checkbox" id="evalInClass" name="evalInClass" data-ng-model="element.attributes.examInClass" ng-true-value="'true'" ng-false-value="'false'">
						<label for="evalInClass">{{ 'EXAM_INCLASS' | translate }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="evalAtHome" name="evalAtHome" data-ng-model="element.attributes.examAtHome" ng-true-value="'true'" ng-false-value="'false'">
						<label for="evalAtHome">{{ 'EXAM_ATHOME' | translate }}</label>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_DURATION' | translate }}</label>
		</div>
		<div class="col-md-4">
			<input type="text" name="examDuration" data-ng-model="element.attributes.examDuration" />
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_SUBMISSION_TYPE' | translate }}</label>
		</div>
		<div class="col-md-4">
			<table>
				<tr>
					<td>
						<input type="checkbox" id="evalPaper" name="evalPaper" data-ng-model="element.attributes.examPaper" ng-true-value="'true'" ng-false-value="'false'">
						<label for="evalPaper"></label>{{ 'EXAM_PAPER' | translate }}
					</td>
				</tr>
				<tr>
					<td>
						<input id="evalElectronic" type="checkbox" name="evalElectronic" data-ng-model="element.attributes.examElectronic" ng-true-value="'true'" ng-false-value="'false'">
						<label for="evalElectronic">{{ 'EXAM_ELECTRONIC' | translate }}</label>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="row">
	   <div class="col-md-4">
		   <label class="label-text-title">{{ 'EXAM_AI' | translate }}</label>
	   </div>
	   <div class="col-md-8">
		   <div class="row exam-ai-option">
				   <div class="col-md-12">
					   <input id="aiModePermitted" type="radio" name="aiMode" data-ng-model="element.attributes.examAiAllowed" value="permitted"> <label for="aiModePermitted">{{ 'EXAM_AI_PERMITTED' | translate }}</label>
				   </div>

				   <div class="col-md-12">
					   <input id="aiModeProhibitedWithExceptions" type="radio" name="aiMode" data-ng-model="element.attributes.examAiAllowed" value="prohibited_w_exceptions"> <label for="aiModeProhibitedWithExceptions">{{ 'EXAM_AI_PROHIBITED_W_EXCEPTIONS' | translate }}</label>
				   </div>

				   <div class="col-md-12">
					   <input id="aiModeProhibited" type="radio" name="aiMode" data-ng-model="element.attributes.examAiAllowed" value="prohibited"> <label for="aiModeProhibited">{{ 'EXAM_AI_PROHIBITED' | translate }}</label>
				   </div>
			   </div>
	   </div>
	   <div class="col-md-4"></div>
	</div>	
	<br>
	<div class="row">
		<div class="col-md-4">
			<label class="label-text-title">{{ 'EXAM_DOCUMENTATION' | translate }}</label>
		</div>
		<div class="col-md-4">
			<input type="text" name="examDocumentation" data-ng-model="element.attributes.examDocumentation" />
		</div>
		<div class="col-md-4"></div>
	</div>
	<div>
		<div class="col-md-12"><label class="exam-doc-note">{{ 'EXAM_DOCUMENTATION_NOTE' | translate }}</label></div>
	</div>
	</div>

	<element-common-attributes data-element="element" data-noannotation="true" data-novisible="true"></element-common-attributes>
</div>
