.form-contact {

    // CONTACT
    .container-contact {
        margin-bottom: 15px;
    }

    .select-titre {
        height: 28px;
        width: 100%;
    }

    input {
        width: 100%;
    }

}
