<div class="element-form biblio-form"> 
    <!-- Citation <-->
	<label class="label-text-title">{{ 'CITATION_BROWSER_TITLE' | translate }} : <span class="mandatory"></span></label>
    
    <div data-browser-element-form="element" data-type="citation"></div>

    <!-- Description  --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div> 
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>
</div>
