
<div class="element-form biblio-form"> 
    <!-- Citation <-->
	<label for="male" class="label-text-title">{{ 'BIBLIO_BROWSER_TITRE' | translate }} : <span class="mandatory"></span></span>  
    </label>
    
    <div data-browser-element-form="element" data-type="citation"></div>

 
    <!-- Description  --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div> 
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>