.element-exam,
.element-examattr {

    .location-title,
    .location,
    .terms-title,
    .terms,
    .submission-title,
    .submission,
    .assessmenttype-title,
    .assessmenttype {
        font-weight: bold;
    }

    .exam-type {
        color: #999;
        font-weight: normal;
        margin-top: 10px;

    }

}