.element-buttons.composite {
	float: right;
	background-color: transparent;
}

.element-buttons.composite.has-notice {
	padding-top: 30px;
}

.element-buttons.composite .buttons {
	padding-bottom: 0;
}

.element-add-element-menu {
	.add-label {
		display: none;
	}

	.caret {
		display: none;
	}
}

.element-buttons {
	button {
		margin: 0;
		padding: 0;
	}

	.buttons {
		padding-right: 10px;
		padding-bottom: 10px;
		text-align: right;
	}

	.element-add-element-menu button {
		font-size: 1.5em !important;
		margin-top: -6px;
	}

	.element-add-element-menu.alone button {
		margin-top: 8px;
	}

	.element-add-element-menu.alone.composite > div {
		top: 24px;
	}

	button.delete {
		font-size: 1.5em !important;
		padding-top: 10px;
	}

	button.edit {
		font-size: 1.5em !important;
	}

	cursor: default;
}
