.element-buttons {
	float: right;

	.icon-edit {
		margin-right: 10px;
	}

	.icon-delete {
		margin-right: 10px;
	}

	.element-add-element-menu {
		font-size: 1.5em;

		.add-label {
			display: none;
		}

		.caret {
			display: none;
		}
	}
}
