<div class="element-form image-form"> 
	<!-- Ressource -->
	<label class="label-text-title">{{ 'RESOURCE_BROWSER_TITLE' | translate }} : <span class="mandatory"></span></span>  
	</label>
	
	<div class="row">    
		<div class="col-md-8" data-browser-element-form="element" data-type="image"></div>
		<div class="col-md-4" >
			<span class="placeholder-image" data-ng-if="!element.$selectedResource.url"></span>
			<span data-ng-if="element.$selectedResource.url">
				<img class="img-apercu" src="{{element.$selectedResource.url}}" />
			</span>
		</div>
	</div>

	<!-- Title -->
	<label class="label-text-title">{{ 'FORM_TITLE' | translate }}</label>
	<input type="text" name="title" placeholder="{{element.$selectedResource.name}}" data-ng-model="element.title" class="input-text-title" />

	<!-- Description -->
	<div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
	<textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description" required></textarea>

	<div class="readonly-props">
		<div><strong>{{ 'DATA_MODIFIABLE_IN_RESOURCES' | translate }}</strong></div>

		<div>
			<span class="prop">{{ 'COPYRIGHT_STATUS' | translate }}:</span>
			<span ng-if="!!element.$selectedResource">{{ (element.$selectedResource.copyright ? 'COPYRIGHT_I_HOLD' : 'COPYRIGHT_UNDEFINED') | translate }}</span>
		</div>

		<div>
			<span class="prop">{{ 'VISIBILITY' | translate }}:</span> 
			<span ng-if="!!element.$selectedResource">{{ (element.$selectedResource.publicAccess ? 'VISIBILITY_PUBLIC' : 'VISIBILITY_STUDENTS') | translate }}</span>
		</div>
		
		<div ng-if="!!element.$selectedResource.release">
			<span class="prop">{{ 'FORM_DATE_DISPLAY_START' | translate }}:</span> {{element.$selectedResource.release.display}}
		</div>
		
		<div ng-if="!!element.$selectedResource.retract">
			<span class="prop">{{ 'FORM_DATE_DISPLAY_END' | translate }}:</span> {{element.$selectedResource.retract.display}}
		</div>
	</div>
</div>
