<div class="element-form image-form">
	<div class="row">
		<div class="col-md-8">
			<resource-browser data-element="element" data-type="image"></resource-browser>
		</div>

		<div class="col-md-4 img-preview">
			<span class="placeholder-image" data-ng-if="!element.$selectedResource.url"></span>

			<span data-ng-if="element.$selectedResource.url">
				<img ng-src="{{element.$selectedResource.url}}" />
			</span>
		</div>
	</div>

	<!-- Title -->
	<div class="field">
		<div class="label-text-title">{{ 'FORM_CLICKABLE_TEXT' | translate }}</div>
		<input id="imageTitle" type="text" name="title" placeholder="{{element.$selectedResource.name}}" data-ng-model="element.title" class="input-text-title" style="width: 100%;" />
	</div>

	<!-- Alt Attribute -->
	<div class="field">
		<div class="label-text-altAttribute">{{ 'FORM_IMAGE_DESCRIPTION' | translate }}</div>
	    <input id="imageAltAttribute" type="text" name="altAttribute" placeholder="{{element.$selectedResource.attributes.altAttribute}}" data-ng-model="element.attributes.altAttribute" class="input-text-altAttribute" style="width: 100%;"/>
    </div>


    <!-- Description -->
	<div class="field">
		<div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
		<textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description"></textarea>
	</div>
	
	<element-common-attributes data-element="element" data-resource="element.$selectedResource" data-noimportant="true" data-novisible="true" data-nodate="true"></element-common-attributes>
</div>
