<div class="element-form document-form"> 
    <!-- Ressource -->
    <label for="male" class="label-text-title">{{ 'RESOURCE_BROWSER_TITRE' | translate }} : <span class="mandatory"></span></span>  
    </label>
    
    <div class="row">    
        <div class="col-md-8" data-browser-element-form="element" data-type="image"></div>
        <div class="col-md-4" >
            <span class="placeholder-image" data-ng-if="!element.$selectedResource.url"></span>
            <img class="img-apercu" data-ng-if="element.$selectedResource.url" src="{{element.$selectedResource.url}}" />
        </div>
    </div>

    <!-- Titre -->
    <label for="male" class="label-text-title">{{ 'FORM_TITRE' | translate }}</label>
    <input type="text" name="title" placeholder="{{element.$selectedResource.name}}" data-ng-model="element.title" class="input-text-title" />

    <!-- Description --> 
    <div class="label-text-description">{{ 'FORM_DESCRIPTION' | translate }}</div>
    <textarea id="mytextarea" cols="30" rows="10" ckeditor="editorOptions" data-ng-model="element.description" required></textarea>

    <!-- Buttons form --> 
    <div data-buttons-form="element"></div>

</div>