<form class="tenjinElementModal tenjin-modal" data-ng-submit="ok()"> 
	<div class="modal-header">
		<h2 class="modal-title">{{title}}</h2>
	</div>

	<div class="modal-body errors" ng-if="!!validationErrors && validationErrors.length > 0">
		<div ng-repeat="e in validationErrors">
			{{e.message}}
		</div>
	</div>

	<div class="modal-body">
		<div data-ng-switch="type.type">
			<div data-ng-switch-when="text" data-text-element-form="element"></div>
			<div data-ng-switch-when="document" data-document-element-form="element"></div>
			<div data-ng-switch-when="citation" data-reference-element-form="element" data-mode="mode"></div>
			<div data-ng-switch-when="hyperlink" data-hyperlink-element-form="element"></div>
			<div data-ng-switch-when="image" data-image-element-form="element"></div>
			<div data-ng-switch-when="video" data-video-element-form="element"></div>
			<div data-ng-switch-when="contact_info" data-contact-element-form="element"></div>
			<div data-ng-switch-when="composite" data-cluster-element-form="element"></div>
			<div data-ng-switch-when="evaluation" data-evaluation-element-form="element" data-typelabel="type.label"></div>
			<div data-ng-switch-when="exam" data-exam-element-form="element" data-typelabel="type.label"></div>
			<div data-ng-switch-when="lecture" data-course-element-form="element"></div>
			<div data-ng-switch-when="tutorial" data-course-element-form="element"></div>
			<div data-ng-switch-when="sakai_entity" data-tool-element-form="element"></div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit">{{ 'OK' | translate }}</button>
		<button type="button" ng-click="cancel()" class="cancel">{{'BUTTON_CANCEL' | translate}}</button>
	</div>
</form>
