/* Fonts */
@font-face {
	font-family: 'dinweb';
	src: url('/tenjin-tool/lib/fonts/dinweb.woff') format('woff');
}

@font-face {
	font-family: 'dinweb';
	src: url('/tenjin-tool/lib/fonts/dinweb-bold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'dineng';
	src: url('/tenjin-tool/lib/fonts/dineng.woff') format('woff');
}

// https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height
// Option 3: Using a Negative Margin and Huge Padding Trick
@mixin full-height {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

/* Body */
html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

/* Tenjin */
#tenjin {
	margin-top: $tool-margin-top;
}

#tenjin, .tenjin-modal {
	color: $font-color-regular;
	font-family: $font-family-regular;
	font-size: 1em;

	/* Title */
	h1 {
		font-family: $font-family-title;
		font-weight: normal;
		font-size: $font-size-title;
		text-transform: uppercase;
		margin: 0;
	}

	h2 {
		font-family: $font-family-title;
		font-weight: normal;
		font-size: $font-size-title2;
		text-transform: uppercase;
		margin: 0;
	}

	h3 {
		font-family: $font-family-title;
		font-weight: bold;
		font-size: 1.1em;
		text-transform: uppercase;
		margin: 0;
	}

	/* Alerts */
	.alert {
		border-radius: 0;
		font-size: $font-size-alert;
		margin-bottom: 5px;
	}

	.alert-danger {
		background-color: $color-alert-danger;
		border-color: $color-alert-danger;
		color: $font-color-alert-danger;
	}

	/* Menus */
	.dropdown-menu a {
		font-size: 1.1em;
		text-decoration: none;
	}

	/* Same height columns */
	.col-equal-height {
		overflow: hidden;
		height: 100%;
	}

	.col-equal-height > [class*="col-"] {
		@include full-height;
	}
}
