.picto-visible {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/visible30x16.png') no-repeat;
    height: 16px;
    width: 30px;

}

.picto-hidden {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/hidden24x16.png') no-repeat;
    height: 16px;
    width: 24px;
}


.picto-important {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/important.jpg') no-repeat;
    height: 16px;
    width: 5px;
    margin-right: 5px;
}

.picto-hec {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/hec.png') no-repeat;
    height: 16px;
    width: 16px;
}

.picto-public {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/public.png') no-repeat;
    height: 16px;
    width: 19px;
}

.picto-edit {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/edit.png') no-repeat;
    height: 20px;
    width: 20px; 
    cursor: pointer;   
}

.picto-delete {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/delete.png') no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.picto-delete-disabled {
    background: url('/tenjin-tool/img/desktop/delete-disabled.png') no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.picto-add {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/plus.png') no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.picto-move {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/drag.png') no-repeat;
    height: 16px;
    width: 16px;
    cursor: move;
    vertical-align: bottom;
}

.picto-move-content {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/drag-content.png') no-repeat;
    height: 20px;
    width: 20px;
    cursor: move;
    margin-right: 8px;
    vertical-align: top;
}

.picto-edit-inline {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/edit-inline.png') no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-right: 5px;
    // vertical-align: top;
}

.picto-ajax-loader {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/ajax-loader.gif') no-repeat;
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.placeholder-image {
    display: inline-block;
    background: url('/tenjin-tool/img/desktop/placeholder-image.jpg') no-repeat;
    height: 120px;
    width: 100%;
}