.modal-dialog {
	width: 700px!important;

	.modal-content {
		border-radius: 1px;
	}

	.modal-header h2 {
		color: $font-color-regular;
		font-size: 1.7em;
	}

	.modal-header {
		background-color: $color-modal-title;
		padding-bottom: 5px;
	}

	.modal-body {
		font-size: 1.1em;
	}

	.modal-footer {
		border: 0;
	}

	.loader {
		text-align: center;
		padding-bottom: 15px;

		img {
			width: 100px;
			height: 100px;
		}
	}

	button {
		font-size: 1em;
	}

	label {
		font-size: 1.1em;
		font-weight: normal;
	}

	input[type='text'], textarea {
		padding: 2px;
		border: 1px solid #ddd;
	}
}
