@media (max-width: $mobile-breakpoint) {
	.navigation-host {
		display: none;
	}

	.navigation-drawer {
		display: none;
	}

	.management .default {
		display: none;
	}
}

@media (min-width: $mobile-breakpoint + 1) {
	.mobile-navigation-host {
		display: none;
	}

	.management .mobile {
		display: none;
	}
}
