$tool-margin-top: 15px;

$font-color-regular: #003c71;
$font-family-regular: 'dinweb', 'sans-serif';
$font-family-title: 'dineng', 'arial', 'sans-serif';

$font-size-title: 3em;
$font-size-title2: 1.8em;
$font-size-alert: 1.1em;

$color-alert-danger: #fdd6d9;
$font-color-alert-danger: #ee3241;

$color-button: #009fdf;
$font-color-button: #fff;
$color-button-hover: #005eb8;
$font-color-button-hover: #fff;
$color-button-active: #003c71;
$font-color-button-active: #fff;
$color-button-disabled: #2c2a29;

$color-button-action: transparent;

$color-button-list: #eaebeb;
$font-color-button-list: $font-color-regular;
$color-button-list-hover: #97999b;
$font-color-button-list-hover: #fff;
$color-button-list-active: #2c2a29;
$font-color-button-list-active: #fff;

$color-left-menu: #ebebeb;
$font-color-left-menu: #019edf;
$color-left-menu-active: #c1c2c4;
$font-color-left-menu-active: $font-color-regular;
$font-color-left-menu-composite: $font-color-regular;

$color-composite-title: #ebebeb;
$font-color-composite-title: $font-color-regular;

$color-modal-title: #ebebeb;
