// Tool
$tool-margin-top: 15px;

$mobile-breakpoint: 992px;

$font-color-regular: #003c71;
$font-family-regular: 'dinweb', 'sans-serif';
$font-family-title: 'dineng', 'arial', 'sans-serif';

$font-size-title: 3em;
$font-size-title2: 1.8em;
$font-size-alert: 1.1em;

// Alert
$color-alert-danger: #fdd6d9;
$font-color-alert-danger: #ee3241;
$color-alert-notice: #f4b642;

// Buttons
$color-button: #009fdf;
$font-color-button: #fff;
$color-button-hover: #005eb8;
$font-color-button-hover: #fff;
$color-button-active: #003c71;
$font-color-button-active: #fff;
$color-button-disabled: #2c2a29;
$color-button-action: transparent;
$color-button-list: #eaebeb;
$font-color-button-list: $font-color-regular;
$color-button-list-hover: #97999b;
$font-color-button-list-hover: #fff;
$color-button-list-active: #2c2a29;
$font-color-button-list-active: #fff;
$font-color-button-mobile-navigation: #009fdf;
$font-color-button-mobile-navigation-active: #fff;

// Modal
$color-modal-title: #ebebeb;

// Navigation
$color-navigation: #ebebeb;
$font-color-navigation: #017db2;
$color-navigation-active: #777;
$font-color-navigation-active: #eee;
$font-color-navigation-composite: $font-color-regular;
$color-mobile-navigation: #003c71;
$font-color-mobile-navigation: #009fdf;
$font-color-mobile-navigation-active: #fff;

$mobile-navigation-height: 60px;

// Syllabus
$color-composite-title: #ebebeb;
$font-color-composite-title: $font-color-regular;
$border-color-important-element: #ad1aac;
$font-color-not-published-element-notice: #888;
$opacity-not-published-element: 0.7;
$color-flag-danger: Red;
$color-flag-warning: #f4b642;
$color-flag-info: #009fdf;

// Management
$color-management-table-header: #ddd;
