.mobile-navigation {
	width: 100%;
	height: $mobile-navigation-height;
	background-color: $color-mobile-navigation;
	color: $font-color-mobile-navigation;

	position:fixed;
	left:0px;
	bottom:0px;
	z-index: 9999;

	.menu-button {
		float: left;
		font-size: 3em;
		padding-left: 10px;
		padding-top: 5px;
	}

	.menu-button.active {
		color: $font-color-mobile-navigation-active;
	}

	.arrows {
		float: right;
		font-size: 2em;
		padding-right: 10px;
		padding-top: 15px;

		.arrow:first-child {
			padding-right: 30px;
		}
	}
}

.mobile-menu {
	width: 100%;
	background-color: $color-mobile-navigation;
	color: $font-color-mobile-navigation-active;

	position: fixed;
	left: 0px;
	bottom: $mobile-navigation-height;
	max-height: 400px;
	z-index: 999;
	overflow-y: scroll;

	.menu-items {
		font-size: 1.6em;

		ul {
			list-style: none;
			padding: 0;
		}

		.item-selected {
			background-color: $color-button-hover;
		}

		.menu-item {
			padding-left: 15px;
		}

		.menu-item.enum {
			padding-left: 30px;
		}
	}
}
