.element-evaluation {
	.row {
		padding-bottom: 10px;
	}

	.eval-date {
		padding-right: 15em;
		float: right;
	}

	.element-evaluationattr {
		padding-top: 10px;

		.row {
			padding-left: 25px;
		}
	}
}
