.evaluation {

    .eval {
        font-weight: bold;
    }

    .eval-date {
        padding-right: 15em;
        float: right;
    }

    .eval-type {
        margin-top: 10px;
        color: #999;
    }

}