.element-evaluation,
.element-evaluationattr {

    .location-title,
    .location,
    .terms-title,
    .terms,
    .submission-title,
    .submission,
    .assessmenttype-title,
    .assessmenttype {
        font-weight: bold;
    }

    .eval-date {
        padding-right: 15em;
        float: right;
    }

    .eval-type {
        color: #999;
        font-weight: normal;
        margin-top: 10px;

    }

}