<div class="element-evaluation">
    <div class="element-title element-page">
        {{element.$numero}} - <a href="" data-ng-click="treeService.selectElement(element);">{{element.title}}</a>

        <span data-ng-if="element.attributes.evaluationWeight"> ({{element.attributes.evaluationWeight}}%)</span>

		<span  data-ng-if="element.attributes.evaluationDate" class="eval-date">{{'EVALUATION_DATE' | translate}} {{element.attributes.evaluationDate | date:'dd/MM/yyyy'}}</span>
        
        <div data-evaluationattr-element="element"></div>
    </div>
</div>
