.myalert {
    height: 50px;

    &.ng-enter,
    &.ng-leave {

    }

    &.ng-animate {
        transition: all .5s ease-in-out;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}
