.errors {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;

	.message {
		float: left;
	}

	.controls {
		float: right;
		padding-top: 4px;
		margin-bottom: -5px;

		span {
			cursor: pointer;
		}
	}

	.alert::after {
		content: '';
		display: block;
		clear: both;
	}
}
