.loader-syllabus {
    width: 60px;
    height: 40px;
    line-height: 35px;
    position: fixed;
    background-color: #fff;
    bottom: -40px;
    right: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    // transition: all .3s ease-in-out;
    text-align: center;
    border: 1px solid #777;
    border-bottom: 0;

    &.show {
        // transition: all .3s ease-in-out;
        bottom: 0;
    }

    .picto-ajax-loader {
        margin: auto;
        vertical-align: middle;
    }
}
