body {
    // height: 100%;
    min-height: 600px;
    color: #444;
    font-weight: normal;
    height: 100%;
    width: 100%;

    .titre {
        margin: 10px 0;
        font: bold 18px Arial, Verdana, sans-serif;
        margin-bottom: 20px; 
    }

    .row-title {
        min-height: 69px;
    }

    .row-content {
        margin-top: 20px;
    }

    // ANGULAR UI TREE
    .angular-ui-tree-placeholder  {
        border: 1px dashed $bleu-hec;
    }

    .angular-ui-tree-node {
        min-height: auto;
    }

    .angular-ui-tree-handle {
        font-weight: normal;
        cursor: move;   
        min-height: auto;
        line-height: normal; 
    }

    .btn-success {
        background-color: $bleu-hec;
        border-color: $bleu-hec;

        &:hover {
            background-color: $bleu-hec;
            border-color: $bleu-hec;    
        }
    }

    // BOOTSTRAP
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row {
        // margin-left: 0;
        // margin-right: 0;
    }

    .modal-backdrop {
        // height: 100%;
        height: 5000px;
    }

    .modal-body {
        padding: 5px 15px 10px;
    }

    .liste-menu-ajout {
        right: 0;
        left: initial;
        min-width: initial;
    }
    
    .btn-primary {
        background-color: $bleu-hec;
        border: none;

        &:hover {
            background-color: $bleu-hec-hover;
            border: none;
        }
    }

    .open {
        .dropdown-toggle.btn-primary {
            background-color: $bleu-hec-hover;
            border: none; 
        }
    }

    // XEDITABLE
    .editable-click {
        border-bottom: none;
        color: #444;

        &:hover {
            cursor: pointer;
            color: #444;
        }
    }

    form.editable-wrap {
        .btn > span {
            height: 20px;
            line-height: 16px;
        }
    }
    
    .mandatory {
        color: red;

        &:after {
            content: '*';
        }
    }

    .errors {
        padding: 0;
        margin-bottom: 10px;
        color: red;

        ul {
            padding-left: 25px;
        }
    }

}

.loader-container {
    position: fixed;
    width: 100%;
    height: 1500px;
    background-color: #fff;
    // opacity: 0.5;
    z-index: 100;

    .loader {
        background: url('/opensyllabus2-tool/img/desktop/loader.gif') no-repeat;
        width: 160px;
        height: 160px;
        // margin-right: auto;
        // margin-left: auto;
        margin-left: 30%;
        margin-top: 250px;
    }
}


@media (max-width: 768px) {

    .hide-mobile {
        display: none;
    }

}

@media (max-width: 992px) {

    .hide-tablet {
        display: none;
    }

}
