.picto-visible {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/visible30x16.png') no-repeat;
    height: 16px;
    width: 30px;

}

.picto-hidden {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/hidden24x16.png') no-repeat;
    height: 16px;
    width: 24px;
}


.picto-important {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/important.jpg') no-repeat;
    height: 16px;
    width: 5px;
    margin-right: 5px;
}

.picto-hec {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/hec.png') no-repeat;
    height: 16px;
    width: 16px;
}

.picto-public {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/public.png') no-repeat;
    height: 16px;
    width: 19px;
}

.picto-edit {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/edit.png') no-repeat;
    height: 20px;
    width: 20px; 
    cursor: pointer;   
}

.picto-delete {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/delete.png') no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

// .picto-move {
//     display: inline-block;
//     background: url('/opensyllabus2-tool/img/desktop/move.png') no-repeat;
//     height: 20px;
//     width: 20px;
//     cursor: move;
//     vertical-align: bottom;
// }

// .picto-move {
//     display: inline-block; 
//     height: 18px;
//     width: 18px;
//     cursor: move;
//     vertical-align: bottom;
//     border: 1px solid $bleu-hec;
//     border-radius: 9px;
// }

.picto-move {
    display: inline-block;
    background: url('/opensyllabus2-tool/img/desktop/drag.png') no-repeat;
    height: 16px;
    width: 15px;
    cursor: move;
    vertical-align: bottom;
}

.picto-move-content {
    cursor: move;
    display: inline-block;             
    border: 1px solid $bleu-hec;
    margin-right: 10px;
    vertical-align: top;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
