<div class="element hyperlink">

    <div class="titre-element">
        <a href="{{element.attributes.hyperlinkUrl}}" target="_blank">
            {{ (element.title ? element.title : element.attributes.hyperlinkUrl) }} 
        </a>
        <span class="link-type">
            [{{ element.attributes.hyperlinkType }}Site Web] 
        </span> 
    </div>
    <div class="url-lien">
        ({{ element.attributes.hyperlinkUrl }}) 
    </div>

    <div data-ng-bind-html="element.description" class="comment"></div>

    <div class="infos">
        <span data-ng-class="{ 'picto-important' : ( element.attributes.hyperlinkImportant === 'true') }" title="Important"></span>
        <span data-ng-class="{ 'picto-hec' : ( element.attributes.hyperlinkDiffusion === 'hec' ), 'picto-public' : ( element.attributes.hyperlinkDiffusion === 'public' ) }" title="Niveau de diffusion"></span> 
        <span data-ng-class="{ 'picto-hidden' : ( element.attributes.hyperlinkHidden === 'true') }" title="Visible"></span>     
    </div>

</div>