<div class="element-examattr">
	<ul>
		<li data-ng-if="element.attributes.examInClass === 'true' || element.attributes.examAtHome === 'true'">
			<span class='label'>{{'EXAM_LOCATION' | translate}}:</span>
			<span data-ng-if="element.attributes.examInClass === 'true' " >{{'EXAM_INCLASS' | translate}} </span>
			<span data-ng-if="element.attributes.examInClass === 'true' && element.attributes.examAtHome === 'true'" >{{slash}}</span>
			<span data-ng-if="element.attributes.examAtHome === 'true'" >{{'EXAM_ATHOME' | translate}} </span>
		</li>

		<li data-ng-if="element.attributes.examPaper === 'true' || element.attributes.examElectronic === 'true'">
			{{'EXAM_SUBMISSION_TYPE' | translate}}:
			<span data-ng-if="element.attributes.examPaper === 'true' " >{{'EXAM_PAPER' | translate}} </span>
			<span data-ng-if="element.attributes.examPaper === 'true' && element.attributes.examElectronic === 'true'" >{{slash}}</span>
			<span data-ng-if="element.attributes.examElectronic === 'true'" >{{'EXAM_ELECTRONIC' | translate}} </span>
		</li>

		<li data-ng-if="element.attributes.examOral === 'true' || element.attributes.examWritten === 'true'">
			{{'EXAM_TERMS' | translate}}:
			<span data-ng-if="element.attributes.examOral === 'true' " >{{'EXAM_ORAL' | translate}} </span>
			<span data-ng-if="element.attributes.examOral === 'true' && element.attributes.examWritten === 'true'" >{{slash}}</span>
			<span data-ng-if="element.attributes.examWritten === 'true'" >{{'EXAM_WRITTEN' | translate}} </span>
		</li>

		<li data-ng-if="element.attributes.examMode">
			{{'EXAM_ASSESSMENT_TYPE' | translate}}
			<span data-ng-if="element.attributes.examMode === 'team' " >{{'EXAM_TEAM' | translate}} </span>
			<span data-ng-if="element.attributes.examMode === 'individual'" >{{'EXAM_INDIVIDUAL' | translate}} </span>
		</li>
	</ul>
</div>
